[2015-05-28 12:53] ashnur opened #2 "grabInput permanently changes the behavior of the term emulator."
After using `grabInput({mouse: 'button'})` the default behavior of the mouse events gets swallowed (this is expected) and each mouse action spits stuff into the term (e.g. `0;4;7M`, this is not expected and I do not know how to avoid or circumvent it), this doesn't stop even after `grabInput(false)` and `process.exit()`, making the term window useless after I ran the script.

I tried this with ter

[2015-05-28 13:36] cronvel commented on #2
Hi, can you provide me some code so I can test that?
What is your gnome version? Your distro?

I'm afraid, it works fine on mine.

You can test using the program: sample/all-event-test.js,
Also try using Ctrl-D during the test to switch from one mouse reporting to another.

[2015-05-28 14:13] ashnur commented on #2
I tried all-event-test, it was working better than what I tried before, because there were no issues until I got to `motion`. But then this happened:
![2015-05-28-165441_1920x1080_scrot](https://cloud.githubusercontent.com/assets/407934/7861704/68ec8f3e-055a-11e5-84d8-70eca10e1326.png)

I only have part of gnome installed (so no overall gnome version), but my gnome-terminal is 3.16.2-1
I am using

[2015-05-28 14:23] cronvel commented on #2
There are some chances that nodemon does not pass STDIN and STDOUT data as they are (i.e. performs some formatting, or spawn its own PTY, or whatever), thus interferes with escape sequences written back and forth.

However your screenshot is clearly a bug I should squash ;)

[2015-05-28 14:24] ashnur commented on #2
Tell me if I can help you with that.

[2015-05-28 16:24] cronvel commented on #2
I can't reproduce it but I made some improvement to avoid the whole app to crash if that happens again.
If you can reproduce it again, it should give us more informations.

[2015-05-28 16:28] ashnur commented on #2
I did a pull and tried all-events again. Now, it didn't crash and quit the process, it just shows this:
![2015-05-28-192705_1920x1080_scrot](https://cloud.githubusercontent.com/assets/407934/7865203/bd099674-056f-11e5-9985-29f05c9fe1f7.png)

[2015-05-28 16:30] ashnur commented on #2
And in gnome-terminal, it doesn't happen, there it works. So it's probably terminology being broken in some way, if you could tell me what (as in, what standard or something) is not implemented or broken, I could make a request to the authors of terminology.

[2015-05-28 16:58] cronvel commented on #2
Ok, I got it. The *minus* was ruining the parser. I don't know why they report a negative code here, it is supposed to be an unsigned integer. However, there isn't any real spec for mouse reporting, even [invisible island](http://invisible-island.net/xterm/ctlseqs/ctlseqs.html) do not give precise pointer.

I fixed that, assuming *-1* is used by Terminology instead of the more common code *32* for

[2015-05-28 17:00] #2 closed

[2015-05-28 17:01] ashnur commented on #2
It works well, thank you for fixing it.

[2015-05-29 07:36] ashnur opened #3 "Error thrown puts the terminal into a bad state."
Using the following code:
[code]

I get a terminal where my mouse actions are swallowed and instead some escape sequences are written into it.

This happens both with terminology and gnome-terminal.

[2015-05-29 07:38] ashnur opened #4 "What is the fastest way to write the full screen?"
Suppose I have some `width*height*color` array. Is there another way to draw this data to the screen than to call for each element `term.colorRgb(r,g,b)(brush)` ?

[2015-05-29 11:16] cronvel commented on #3
Hi,

This is not an issue related to a specific terminal, in fact .grabInput() change the terminal mode, so it send escape sequences containing data about the mouse button states. If nothing tell the terminal to
switch back to the normal mode, it will simply continue to work this way.

Typically, the code can be fixed using:
[code]

It's hard to tell if this should be done in the lib or in the use

[2015-05-29 11:33] ashnur commented on #3
Some people might actually want the default behavior, and the behavior and the workaround is perfectly logical, however someone like me, who is a complete beginner with terminals, might get caught off guard. I think if this could be put in a visible place, that's a fine solution. It helps if even *obvious* things are mentioned somewhere :).

[2015-05-29 11:34] cronvel commented on #4
What you want to achieve exactly?

There is an undocumented feature called ScreenBuffer in Terminal-kit.
Basically, it's like sprite for the terminal.

There is a ScreenBuffer demo shipped with the lib: demo/spaceship.js.
It's well optimized, as you can see: it only writes the part that changed.

Tell me if this is what you need.

I will document ScreenBuffer when I will be 100% sure of its API, i

[2015-05-29 11:39] ashnur commented on #4
I am mostly just trying out things. My current focus is on trying to paint as much frames as possible, I've seen things like movie players with ascii symbols. I don't actually want that, I think at first I will do some kind of a silly game.
This ScreenBuffer sounds exactly what I need, I will try it out and report back. Thanks. (The changing api is not a problem because I am just experimenting rig

[2015-05-29 11:51] cronvel commented on #4
If you want to do a little game, have a look at [Leeted](https://github.com/cronvel/leeted) (leet editor), it is a little tool (still in alpha) that can produce ASCII sprite with colors and all. It can save them and terminal-kit can load them. I don't have time to improve Leeted right now, but it should be good enough for a little game!

You should definitively have a look at the code of the space

[2015-05-29 12:06] cronvel commented on #3
Ok, I understand.

Since I can't imagine any use-case where one may want to leave its program with input grabbing on, I fixed it.

[2015-05-29 12:07] #3 closed

[2015-05-29 12:35] cronvel commented on #4
I have updated the README.md of LeetEd, the keys and their actions are now listed ;)

[2015-06-24 08:00] sjurba opened #5 "Delete and insert line does not work in cygwin"
I'm trying to use terminal-kit with cygwin, specifically Git Bash on Windows.

When I try to use deleteLine or insertLine, noting happens.

The only debug info I could get was that the terminalKit.generic value is 'cygwin'.

Please let me know if there is some other debugging info I can get you..

[2015-06-24 11:25] cronvel commented on #5
Hi,

To be honest, I know little about Windows' terminals, but we can try to figure out what happens together. Also Windows know only a small subset of escape sequences common to UNIX-like system, but I guess it is at least capable of deleting and inserting line.

Firstly, what terminal exactly is used? Is it the built-in windows terminal? Or does Cygwin use something different (I used Cygwin once

[2015-06-24 16:16] sjurba commented on #5
I'm running Git Bash for Widows. https://git-scm.com/downloads

$ node detect-terminal-test.js
[code]

It fails silently..

[2015-06-24 18:08] sjurba commented on #5
Did some googling.. It seems like delete and insert line is not supported by the windows terminal.

[2015-06-25 12:07] cronvel commented on #5
Can you configure it to use another terminal?

I remember using Console2 last time I used Git on Windows.

Also I found [this question on unix.stackexchange.com](http://unix.stackexchange.com/questions/18405/best-way-to-use-a-shell-with-cygwin-in-windows-7) that might help.

When I run `TERM=cygwin infocmp` it says that Cygwin supports the insert and delete line escape sequence.

Also I don't know

[2015-07-01 06:26] sjurba commented on #5
Meh.. I sort of gave it up.. I tried mintty, but it had even bigger problems: term size was 0x0 and keyboard capture didn't really work.

Windows isn't my platform anymore either. I just wanted to check if my rebase app worked or not.

[2015-08-23 07:36] #4 closed

[2016-01-04 07:28] singggum3b opened #7 "Terminal-kit is failing in meteor."
`var x = Npm.require("terminal-kit");`

Error:
[code]

any idea?

[2016-01-04 09:06] cronvel commented on #7
Hi,

Please give me:
- the version of terminal-kit you are running
- the version of node.js you are running
- the OS and terminal you are using

Note that the last version of Terminal-kit needs at least Node v4.

[2016-01-04 09:31] singggum3b commented on #7
Hi @cronvel
I'm using terminal kit on `node v5.3 - opensuse leap gnome , terminal-kit 0.21.8`.
The parent terminal is tty.
It's working fine in node environment, but not working when i require it via Meteor's Npm.require.

I' m guessing it's because of Meteor JS engine (missing prototype when require core module `events`)

[2016-01-04 09:47] cronvel commented on #7
Can you confirm that, by running in meteor the code:

[code]

I just downloaded Meteor (I never tried it until now), and while I have Node v4.2.2 installed on my system, Meteor seems to use Node v0.10.40.

Here is what I get:

[code]
By the way, the same in plain Node:

[code]

Of course, I'm totally new to meteor, so I may have done something bad somewhere.

It looks like meteor download and run

[2016-01-04 10:03] singggum3b commented on #7
Here's my output:
[code]
Here's what require("events) look like:
[code]
It's seem like meteorJS ship with its own node version , which cause the issue.
ES6 can be added with ecmascript package , but that doesn't help either.

Do you think this 'll be a simple patch ( check prototype if exist?), or it'll take a lot of rework to support?
I don't think meteor can use external nodejs version :(

[2016-01-04 10:05] singggum3b commented on #7
Related issue on meteor : https://github.com/meteor/meteor/issues/5124

[2016-01-04 10:10] cronvel commented on #7
If the core `event` module is the only failing dependency, I can patch it. Stay tuned ;)

[2016-01-04 10:15] singggum3b commented on #7
:+1:

[2016-01-04 14:00] cronvel commented on #7
What exactly do you want to achieve with Terminal-kit?

I managed to get basic features to work as of terminal-kit@v0.22.0, colors and style are working as expected now.

However, Meteor interfere with the TTY, and as a result Terminal-kit cannot grab inputs.

If you just want colorful log, that's ok.

BTW I guess you don't want to create an interactive terminal application.

[2016-01-04 15:52] singggum3b commented on #7
I'm writing an solution to allow meteor using external build instead of relying on isobuild.
I'm using terminal-kit to serve as info logger & replacement of charm in progressor.
I just stumble on the issue on accident when testing the server build.

Thanks you for fast response & amazing support :+1:

Btw IMO terminal kit come with many bloat feature(like progress bar).
I think you should consider

[2016-01-04 16:22] cronvel commented on #7
Thanks for your feedback. If you have trouble, let me know! ;)

[2016-01-05 17:26] cronvel commented on #7
I have good news for you!

I have added a new built-in terminal instance that might interest you.

Instead of using: `Npm.require( "terminal-kit" ).terminal`, try using `Npm.require( "terminal-kit" ).realTerminal`.

Using this, you gain access to the real TTY and totally hijack all the meteor stuffs that get in the way when terminal-kit try to read/write from STDIN and STDOUT.

This terminal insta

[2016-01-06 22:15] kmgilbert100 opened #8 "Any change for a multi line menu?"
Title says it all is there any chance a multi line menu will be included in this package?

[2016-01-07 09:22] cronvel commented on #8
By multi-line menu, do you mean a drop-down menu?

There is one, but it is still in alpha version. It's part of the "Document Model" currently under development.

You can see it working by running the script located in `sample/document/drop-down-menu-test.js`.

There is no documentation on that for instance, because the API may change during the development process.

[2016-01-08 03:43] singggum3b commented on #7
Hey @cronvel , i'm glad you was able to patch it . Great update!
I'll try it as soon as i can.
Sorry for the late reply, i'm too busy these days.
Cheers.

[2016-01-11 19:24] kmgilbert100 commented on #8
I just want to replace the npm module terminal-menu as it has node 0.12*> issues, Ive had to switch to inquirer  JS ... Built a unlimited level menu system for a terminal application with inquirer ... haha .. would be cool to have a feature like that in terminal-kit... Can't belive there is no multi-level menu module out there for node... I may make one myself.

[2016-01-12 09:55] cronvel commented on #8
Okey, I have checked 'terminal-menu'.

This feature exists in terminal-kit, in alpha version, part of the "Document Model", and the sample code is here:
sample/document/column-menu-test.js

tl;dr:

[code]

[2016-01-12 15:24] kmgilbert100 commented on #8
Very cool - Thanks I'll take a look at the example when I can!

[2016-01-13 14:31] #7 closed

[2016-02-25 07:09] spywhere opened #9 "32 bits (RGBA) color in ScreenBuffer?"
Will ScreenBuffer supports 24 bits color? If already supports, how? I can't find a code that use 24 bits color in a  spaceship demo.

[2016-02-26 12:45] cronvel commented on #9
Hi,

There is no 24bits support for the ScreenBuffer at the moment.

It's one of the feature I would like to see in the future, but there are lot of things in my TODO with higher priority (e.g. full-width chars support).

But now I'm curious: what kind of app are you building? ^^

[2016-02-26 12:49] spywhere commented on #9
I'm currently working on CLI-based UI kit right now. Here's the repo if you want to check it out: https://github.com/spywhere/cuikit

[2016-02-26 12:55] cronvel commented on #9
It looks really promising!

From a scale from 0 to 10, how much do you need 24bits ScreenBuffer?

[2016-02-26 13:04] spywhere commented on #9
Currently 8 bits color would work, but 24 bits color will allows the user to customize their application much more colorful. I would give 3/10 for now since the framework itself still under development too.

[2016-05-02 07:49] freeall opened #10 "inputField runs forever"
I would expect this program to terminate

[code]

But it never does. Not until the user manually closes it. Is this expected behaviour?

[2016-05-03 08:05] cronvel commented on #10
Hi,

I'm aware of this issue, but there isn't much to do. The lib is not to blame for this, that's the way Node.js deals with stdin that cause this. You should explicitly close the app at the end of the `terminate()` function.

You can replace your `terminate()` function by:
[code]
This will turn grabInput off, perform some cleanup and exit.
`term.processExit()` accepts an exit code as argument.

[2016-05-03 08:11] freeall commented on #10
Hi,

Thanks for your answer. You are right that I could do `process.exit()`, but that doesn't seem like the best solution.

I'm not sure you're right about the `stdin`. but I don't think that's entirely correct. If you look at this `readline` example:

[code]

It terminates after you press enter. I'm guessing it could be fixed in `terminal-kit` by closing the input stream when the user does `grabI

[2016-05-04 12:33] cronvel commented on #10
Yes, closing the input stream would terminate the process.

When grab-input is turned off, it only removes the input stream listener. It is possible to turn grab-input on later, so it doesn't make sense to close the stream.

[2016-05-04 13:54] freeall commented on #10
To me it should be possible to do it the same way that `readline` does. It feels a little off that after I am done reading input I now have to use `process.exit` when I want to, at some point, close the program.

Imagine I'm making a program where I ask the user for something, and at some point my program starts to download a file. Now it becomes scary if I closed the program before the download s

[2016-05-05 17:12] cronvel commented on #10
Well, you should know when your app should be closed or not ;)

Seriously, if at some point this is a problem for you, you may consider using [async-kit's async.exit()](https://github.com/cronvel/async-kit#ref.async.exit). That will help you to cleanly exit your app.

Whenever I get some time, I will explore the readline() code source to see if there is some tricks to achieve that cleanly. Closing

[2016-07-22 03:15] jwarkentin opened #11 "Make newlines set cursor x position to 0"
When I output a chunk of text with newlines it looks very odd because the newline doesn't change the x position of the cursor. I don't know if there's a compelling reason not to move the cursor to the beginning of the line on a newline but if so it would be nice to either be able to set an option to do it or somehow manually do it. I would manually search and replace newlines with the right contro

[2016-07-22 03:29] jwarkentin commented on #11
Ok, so I don't know if it works for all terminals but if I replace all `\n`s with `\r\n` then it works for what I'm doing. It may still be a worthwhile option to consider adding but inserting the carriage return seems to get the job done for me right now.

[2016-07-22 03:56] jwarkentin commented on #11
I think this same issue is manifesting itself in weird autocomplete menu and cursor placement. Here's an example:

![autocomplete menu](https://cloud.githubusercontent.com/assets/1084024/17046207/e7783ad2-4f8d-11e6-8a3e-8097c57d3129.png)

[2016-07-22 08:55] KnisterPeter opened #12 "process.env.TERM may be undefined on windows"
Hi,

since `process.env.TERM`could be undefined terminal-kit will fail on `process.env.TERM.toLowerCase()`.
This happens in termkit.js line 96.

[2016-07-22 09:24] cronvel commented on #11
That's strange... which OS and terminal are you using?
Single \n should works on all unixes.

Can you tell me if a simple `process.stdout.write( 'some\ntext' )` output `text` in the beginning of the line?

I can only imagine this kind of things on Windows, and sadly, high-level features are not really compatible with Windows builtin-terminal (which terribly lacks of features).

[2016-07-22 09:44] cronvel commented on #12
Hi, thanks for reporting. It should be fixed now as of terminal-kit@0.24.14.

Can you tell me in which case TERM is undefined? SSH?
Without TERM, it fallback to a restricted set of xterm escape sequences, which is the standard the most used, but it is usually better if the terminal is known.

[2016-07-22 09:49] KnisterPeter commented on #12
I was running my test cases on appveyor and there TERM was undefined.
Maybe they have a bit strange ENV setup.

[2016-07-22 09:51] cronvel commented on #12
Ok, thanks, tell me if it works for you now! ;)

[2016-07-22 10:01] KnisterPeter commented on #12
Thanks, its fine now :+1:

[2016-07-22 10:01] #12 closed

[2016-07-22 15:41] jwarkentin commented on #11
I'm probably using it different from the way most people use it. I'm using it in combination with the ssh2 package to provide a terminal over SSH from within my app. So I set the terminal-kit stdout to my SSH stream stdout and then I'm using the terminal over an actual SSH connection. That may affect this. Aside from that, I'm using it in gnome-terminal which reports over SSH as `xterm-256color`.

[2016-07-22 16:57] cronvel commented on #11
Ok... Looks difficult to detect... Terminal-kit would think it runs inside a regular xterm-compatible terminal.

I don't know exactly what happend under the hood, *gnome-terminal* is probably set in a mode where it needs cr+lf, probably by SSH. Can you look at available SSH options and environment variable that are sent through SSH?

[2016-07-22 17:58] jwarkentin commented on #11
I think I figured out what the problem is. Below I've posted all the info I receive from the SSH client initiating the connection. It sends the TTY mode settings it's requesting. I think the important one is `ONLRET` which makes newlines perform carriage returns. You can see what all of the modes mean [here](https://github.com/mscdex/ssh2#terminal-modes) or in RFC 4254 [here](https://www.ietf.org/

[2016-07-22 19:38] jwarkentin commented on #11
Don't know if this will be helpful but here is a snippet that effectively implements the `ONLRET` functionality if all strings sent to stdout and stderr use it:

[code]

[2016-07-23 10:30] cronvel commented on #11
I'm still trying to figure out how to detect that.

- it looks like there is no escape sequences for line ending reporting
- Node.js does not provide an interface to modify TTY options (except setting raw mode on or off),
- spawning a program like `stty` is a really crappy solution, and would not work anyway through SSH

So we are in a dead-end...

I have temporarly added an option for forcing `cr

[2016-07-23 18:38] jwarkentin commented on #11
Thanks! That definitely solves the issue.

[2016-07-23 18:58] jwarkentin commented on #11
In the case of SSH, terminal-kit is the only thing managing the input and output streams. There is no outter terminal to do any of this processing. It may be worth considering adding a way to actually pass in the input and output mode settings to terminal-kit and fully implementing them.

They could be passed in like this, based on my current implementation:
[code]

There is a lot of good informat

[2016-07-24 08:46] cronvel commented on #11
I know those modes, because I have used them in C/C++ 10 or 15 years ago, but I just don't know how to get/set them in Node.js. If you know how to do it, go ahead! I would be glad to add that in terminal-kit!

[2016-07-25 09:09] cronvel commented on #11
I got a response from Thomas Dickey from [invisible island](http://invisible-island.net/), the best resource for terminal:

So that's what I was fearing: no escape sequences. It must be done by accessing the terminal driver (TTY/PTY/...). In case of SSH, I don't know how it works at all. Is there a client-side terminal driver for that?

[2016-08-22 04:30] frissdiegurke opened #13 "InputField autoComplete strip prefix"
It would be great to have an option to strip a prefix from auto-complete items.
For example if you want to build a shell-like environment, `cmd fil` could be auto-completed to `cmd file0` or `cmd file1`. Within the items shown for completion, the `cmd ` prefix should be stripped out.

[2016-08-22 11:18] cronvel commented on #13
Do you know that the `autoComplete` option ca be a function?
It's in the second example of the [inputField() doc](https://github.com/cronvel/terminal-kit#ref.inputField).

Your feature request is interesting, but probably a bit too high level for the lib scope.

[2016-08-22 11:55] cronvel commented on #13
In fact, it was already possible, admittedly not clearly documented.

As of v0.24.26, I added a fourth argument to `termkit.autoComplete` to ease the process.
The second example of the `inputField()` doc can be rewritten this way for your use-case:

[code]

Hope it helps!

[2016-08-22 15:54] frissdiegurke commented on #13
Great! With that `prefix` property on arrays, it works like a charm!
Thanks and keep up the great work :thumbsup:

[2016-08-22 15:54] #13 closed

[2016-10-11 17:33] aurium opened #14 "Screen Dump"
Allows to extract screen text data.

My use-case is testing some terminal interface. Other use-cases my be "term-screensavers"; Post written highlighters; Automation...

[2016-10-12 10:12] cronvel commented on #14
Hi,

FYI there is no way to get the terminal internal buffer.

However, Terminal-kit has a feature that can achieve that: the ScreenBuffer.
It isn't documented right now, but it should be stable enough (the interface hasn't changed in 1 year, and I use it on some project).

You can look at the spaceship demo, in the `demo` folder run `./spaceship.js`, and then look how it works.

The ScreenBuffer

[2016-10-12 14:52] aurium commented on #14
huum... May work for `terminal-kit` based software, like [config-template](https://github.com/alarner/config-template). Thanks!

[2016-10-13 08:26] cronvel commented on #14
Only if the software use the ScreenBuffer, but config-template doesn't.

[2016-12-23 15:09] minecrawler opened #16 "[Windows] time-out when writing while reading"
My expectation is, that when having the following code

[code]

I'd get an output of

[code]

with the cursor at the pipe, or at least

[code]

But terminal-kit fails with the error

[code]

[2016-12-23 16:23] cronvel commented on #16
Thanks for reporting.
I assume you are using Windows from what I see in the error log (C:\.)
Windows terminals are awful, so I guess it doesn't support retrieving the cursor location.

I will try to patch that soon, if it is possible...

[2017-02-03 00:28] bradennapier opened #18 "Promises"
any plans to make this return promises instead of the standard callback?

[2017-02-03 09:35] cronvel commented on #18
Hi,
That's not planned for the v1.

[2017-03-02 17:12] yann-stepienik-cko opened #19 "Control inputField format"
Is there any existing feature to control format of inputField on the go ?
I was trying to have a syntax coloration based on the content (For example highlighting typo in red).
Is that something doable ? Any plan for this kind of flexibility ?

[2017-03-02 17:53] cronvel commented on #19
Customization is possible, but not syntax highlighting, i.e. you can set the style and color for the whole text, but not per character.

It is an interesting feature, but there is no plan for that ATM.

Can you describe me your use case? (more background)

[2017-03-02 18:00] yann-stepienik-cko commented on #19
Sure : the terminal command expect arguments / filenames, and I would like to :
 - Highlight typos (unexisting arguments)
 - underline filenames
 - (EVENTUALLY) write a preview of what pressing TAB would autocomplete too, in a light color on the right of the cursor like this :

![screen shot 2017-03-02 at 18 00 21](https://cloud.githubusercontent.com/assets/17568523/23520275/22a1ad52-ff72-11e6-81d

[2017-03-02 18:06] cronvel commented on #19
Any idea about the eventual API?

[2017-03-03 11:03] yann-stepienik-cko commented on #19
Yep sure I'm thinking it would look something like this I guess  :

{
   format : function(previous (all previous token), current, term)
}

the function would be called per-token (ex : git clone http://....  would be 3 token : git, clone and the  url) and each token would be returned as so :

function (previous, current, term) {
    if(!exists(current)) {
       return term.red("current")
    }

[2017-03-03 17:31] cronvel commented on #19
The API looks good to me, however it would be a nightmare to implement it ^^

Mostly because of the string length management (how many columns and lines are covered by the input field, and so on).
Terminals are really old things that have not evolved a bit for decades, they lack critical features.

If one day I implement this feature, I will surely do it using the Terminal-kit ScreenBuffer, or a T

[2017-03-03 18:10] cronvel commented on #19
Ok, I will give it a try...

[2017-03-04 08:32] cronvel commented on #19
Ok I was overestimating the difficulty, in fact it was fairly straightforward to implement.

But I'm still unsure about the API.
Maybe it will land tomorrow or monday on master, once I'm satisfied.

[2017-03-04 17:16] cronvel commented on #19
Ok, it's done: token hilighting (color, style) and the auto-completion preview.
It landed on version 0.27.1.

The doc is not updated ATM (will do it in few days), but you can look at the sample file `sample/input-field-shell-test.js`, or look at this extract:

[code]

The `autoCompleteHint` option is the auto-completion preview. You can customize its style with the `hintStyle` option.

[2017-03-06 21:10] azukaar commented on #19
Hey @cronvel
Really nice work, I'll give it a try ASAP, thanks !
Yes this is what I'm writing (I'm lacking a terminal alternative that I could use on al lmy compiuters no matter the OS)

[2017-03-07 14:23] cronvel opened #20 "Use termios module"
https://github.com/Gottox/node-termios

[2017-03-08 12:52] cronvel commented on #19
As of v 0.28.0, I have changed the tokenHook function's argument to `( token , isEndOfInput , previousTokens , term , config )`.

I edited the previous example.

* isEndOfInput `boolean` true if this is the **last token and if it ends the input string** (e.g. it is possible for the last token to be followed by some blank char, in that case *isEndOfInput* would be false)

[2017-03-19 12:47] cronvel commented on #19
@azukaar @yann-stepienik-cko If you are interested, I made a small shell prototype to test all those features: [ngsh](https://github.com/cronvel/ngsh).

When you will start working on your shell, I would appreciate to have a look at it! Drop me comment ;)

[2017-03-19 12:47] #19 closed

[2017-03-19 12:52] cronvel commented on #14
@aurium I put a lot of effort documenting the [ScreenBuffer](https://github.com/cronvel/terminal-kit/blob/master/doc/screenbuffer.md) for the v1 (released yesterday). Happy coding! ;)

[2017-03-19 12:52] #14 closed

[2017-03-19 13:00] cronvel commented on #11
@jwarkentin There is a native module that can help you: [termios](https://github.com/Gottox/node-termios). It can set up all those mode.

ATM, I'm don't know if it should be integrated directly to Terminal-Kit, or if the doc should simply link that module.

[2017-03-19 13:00] #11 closed

[2017-03-19 13:00] #10 closed

[2017-03-22 11:18] azukaar commented on #19
Hey @cronvel I did a bit more work on the project I'll show it to you, but I just realise that the whole purpose of the project was kind of defeated because of #16, do you think this issue is patch-able, or do I need to not use inputField ?

[2017-03-22 11:29] cronvel commented on #19
If you want to target Windows platform, that's certainly a problem, with or without *.inputField()*, with or without Terminal-Kit.
Windows terminals just lack critical features for that.

FYI *readline* (built-in support in Node.js) usually manages to work well on those impossible terminals at the cost of really complex (and awful) hacks. However, *readline* does not allow you syntax hilighting.

[2017-03-23 11:56] yann-stepienik-cko commented on #19
@cronvel Will look at it more in details this week end

[2017-04-06 14:29] cronvel commented on #9
@spywhere Are you still writing your lib? I just released a version featuring 32-bit ScreenBuffer with composition. Still in beta, but the API should not change unless proven wrong.

You may want to run `./sample/screenbuffer-hd-test.js`.

I screwed up the commit message, it's not 24-bit, but 32-bit (RGBA).

[2017-04-07 15:52] cronvel commented on #9
@spywhere Now it's even possible to load image (PNG, JPEG and GIF).

[2017-04-08 07:38] jwarkentin commented on #11
Thanks for pointing me in the right direction. I didn't end up needing to use the termios module but it sent me down a sort of deep rabbit hole figuring out how all of this works. The difficulty of figuring out what to do was in the fact that there is basically no documentation anywhere that I could find explaining how all this was supposed to work.

When a user starts an SSH session that client s

[2017-04-08 07:58] jwarkentin opened #21 ".inputField(): More input control (erase begining of input, erase end of input, move to next/previous word)"
I'm trying to implement the `CTRL_U` and `CTRL_K` functionality that erases from the cursor to the beginning of the line and from the cursor to the end of the line, respectively. Unfortunately I can't use the actual control codes for this because the control codes are only erasing the text on the screen, not changing the actual text in the buffer. Also, calling `term.eraseLineBefore()` (which send

[2017-04-08 23:48] milesj opened #22 "Support gray color"
Would be nice to use "gray" instead of "brightBlack". Currently getting `TypeError: Cannot read property 'str' of undefined` when using `term.gray.str('foo')`.

[2017-04-09 04:52] spywhere commented on #9
So far, I think this issue can be close now as this already fulfil my need. Thanks for your work.

[2017-04-09 04:52] #9 closed

[2017-04-09 08:33] cronvel commented on #22
Typically there are 8 colors (black, white, red, yellow, green, cyan, blue, violet/magenta) and their brighter version -> 16 ANSI colors.

I know "brightBlack" sounds weird, but it should at least exist for consistency sake.

Technically, there are 4 black to white colors: black, brightBlack, white, brightWhite. None of them are closed to be gray (#7F7F7F): "brightBlack" is really dark, "white" is

[2017-04-09 08:45] cronvel commented on #21
BTW you should not edit the screen directly because it would do it behind the back of the inputField.

If I understand correctly, this is trivial to implement, I will look into it tomorrow.

[2017-04-09 18:36] jwarkentin commented on #21
Another thing I'm thinking about where this would be useful is in implementing the standard terminal ability to hold CTRL and press the left and right arrow keys to move the cursor by words and logical segments. If there were just a way to get and set the cursor offset (single number, not coordinates) in the input relative to the beginning of the text then all of this would be easy to implement. T

[2017-04-10 10:09] cronvel commented on #22
It looks like other libs/modules are aliasing 'gray' as the 8th color (here 'brightBlack').
So it will be part of the next release.

[2017-04-10 10:09] #22 closed

[2017-04-10 12:03] cronvel commented on #21
@jwarkentin Ctrl-left, Ctrl-right, Ctrl-U and Ctrl-K are now implemented as of v1.2.0.

[2017-04-10 12:03] #21 closed

[2017-04-10 17:17] milesj commented on #22
Awesome, glad to hear it!

[2017-04-12 20:03] pistacchio opened #23 "Use terminal-kit with not stream"
Hi. First of all, thanks for this library, it is great.
I'm trying to use terminal-kit to send / read data over a very simple telnet server. Writing works fine, it clears the screen and greets who's connected with a red "Welcome". Input events, on the other side, don't seem to work. This is my sample code:

[code]

[2017-04-12 20:16] pistacchio commented on #23
I just missed `term.grabInput(true);`
I live the issue here, in case someone wants to try something similar :)

[2017-04-13 08:34] codekraft-studio opened #24 "How to catch the keypress"
Hi, first of all, compliments for the module.

I'm using term.on( 'key') to get the user keyboard input, but when I press something like __ARROW_UP__ it produces on screen this: `^[[A` and until I press enter the on('key') callback is not fired.. so, since I need to simulate the cursor moving when the user press arrow keys how can I do?
[code]

The example code is from here: [http://blog.soulserv.

[2017-04-13 10:05] cronvel commented on #24
Can you tell me which OS and terminal you are using?

[2017-04-13 11:52] cronvel commented on #23
@pistacchio Fine, tell me if you manage to build some great tools ;)

Off topic: I have looked at [Dedalus](https://github.com/pistacchio/Dedalus), I'm curious to see if there is some game somewhere using that engine?

I have started a similar project few month ago: [Spellcast](https://github.com/cronvel/spellcast).
It is a more generalist scripting language with a completely different approach, t

[2017-04-13 17:11] pistacchio commented on #23
@cronvel Hi! There have been some works in the last few IFComp written in Dedalus. I haven't maintained it any further (still I think it has some potential), but I worked on another system, Steller. I haven't documented it yet, but this is the way you write a story: https://github.com/pistacchio/steller.js/blob/master/example/story.js

I'm quite satisfied with the result, it is fully tested and st

[2017-04-14 06:00] codekraft-studio commented on #24
@cronvel  my fault, since windows was not supported and I was on that OS, I was using a ssh client to connect to a linux machine I own, but 100% the terminal of the ssh client was not supported, when I tried on my laptop that has linux on it, it worked like a charm.

( the terminal I was using is from: [Bitvise SSH](https://www.google.com/search?q=bitvise+sshj&oq=bitvise+sshj&aqs=chrome..69i57j0l5

[2017-04-14 06:00] #24 closed

[2017-04-14 06:13] codekraft-studio commented on #24
@cronvel do you know if is possible with terminal-kit to send the output something different that process stdouput?

I explain, I'm trying to archive something like this (pseudo-code):
[code]
Using the [ansi](https://www.npmjs.com/package/ansi) module is possible to send the output to the telnet client (in this case)

[2017-04-14 07:18] cronvel commented on #24
Hello @codekraft-studio

Have a look at this [constructor](https://github.com/cronvel/terminal-kit/blob/master/doc/global-api.md#ref.createTerminal), it allows you to configure your stdio.

Something similar than this should do the job:

[code]

If you need advanced features, your telnet lib should at least support the *raw mode*.

For your windows terminal, can you run some linux text editor with

[2017-04-14 07:47] codekraft-studio commented on #24
@cronvel

with the terminal provided by Bitvise I can use editors like nano and vim via ssh, eventually I will try to use termios if I really need, but for now i'm just "playing" with the code so I don't want to complicate my life too much.

I didn't see the documentation in deep, sorry I should have checked before!
Later today when I've time I'll try to see if it works like you suggested many tha

[2017-04-15 20:02] cronvel commented on #23
@pistacchio Hi! If you are interested, I can do *A Cloak of Darkness* in *Spellcast Scripting*, once I got some time for that. It might interest you!

KFG supports tags for the code part. The system using it have to describe them and turn them into actual code.

*Spellcast Scripting* has defined many many tags, and is a complete programming language dedicated to scenario. I already coded some comp

[2017-05-10 01:47] interfect opened #26 "terminal-kit very upset if TERM is not set"
Sometimes (i.e. on Windows), the `TERM` environment might not be set. In `detectTerminal.js`, this [makes `appId` undefined](https://github.com/cronvel/terminal-kit/blob/master/lib/detectTerminal.js#L45), and then [makes `generic` undefined](https://github.com/cronvel/terminal-kit/blob/master/lib/detectTerminal.js#L55) and then [causes a crash when the give-up code tries to convert undefined to lo

[2017-05-10 09:03] #26 closed

[2017-05-10 09:05] cronvel commented on #26
Thanks for reporting it, just fixed it now.

[2017-05-15 23:33] azfarsiddiqui opened #28 "Multi/Split window support"
Hi guys, I am pretty new to terminal kit and its continuing to amaze me. I just wanted to find out if there is any way to have multi/split window UI. I am attaching a sample image of what I am looking for. It has a list/table at the left and content area on the right

Thanks guys
![3316428506_a929c7dcbd_o](https://cloud.githubusercontent.com/assets/9972531/26083711/a9489cac-3a1a-11e7-9ed7-9d729339

[2017-05-16 11:49] cronvel commented on #28
Hi,

Splitting in multiple block on top of each others is possible using [`term.scrollingRegion()`](https://github.com/cronvel/terminal-kit/blob/master/doc/low-level.md#moving-the-cursor) but it can't create multiple column like in your screenshot. Terminals doesn't have **native** way to do that.

**Luckily, Terminal-kit has a feature that abstract away the terminal**, it's called the [**ScreenBu

[2017-05-17 15:25] vjpr opened #29 "`ndarray` must be listed in dependencies"
https://github.com/cronvel/terminal-kit/blob/fa6e70178a5939c8028fd863cab9879bf060e37a/lib/image.js#L31

It breaks when using a non-flat node_modules (such as in pnpm).

[2017-05-18 08:32] #29 closed

[2017-05-18 08:32] cronvel commented on #29
Thanks for reporting it! ;)

[2017-06-01 23:15] samizdatco commented on #21
As far as I can tell, the current implementation of the Ctrl-U and Ctrl-K behavior updates the cursor position and the inputField's value, but it doesn't actually erase any characters from the terminal. Is this a bug or is the screen-updating supposed to happen outside of the inputField's redraw() routine?

[2017-06-02 00:07] samizdatco opened #30 "Add support for 'default' fg/bg colors in ScreenBuffer"
In experimenting with the ScreenBuffer object, it seems that even if I don't set an initial 'fill' color, when the draw() method is called and it updates the screen, it defaults to drawing a black background for every character.

For instance, I would have expected these code snippets to result in comparable output:

[code]
--------------------
[code]

But the results are quite different looking:

[2017-06-02 08:35] cronvel commented on #21
@samizdatco It works on all terminal that I tested. What is your terminal/OS?

[2017-06-02 09:04] cronvel commented on #30
@samizdatco In fact, there **IS** a call to ScreenBuffer#fill() at instanciation, unless the 'noFill' option is passed to [ScreenBuffer.create()](https://github.com/cronvel/terminal-kit/blob/master/doc/screenbuffer.md#ref.ScreenBuffer.create). Without that initial .fill(), the internal Buffer instance is not filled, and is left in the state of it was after [Buffer.allocUnsafe()](https://nodejs.org

[2017-06-02 17:42] samizdatco commented on #21
I'm using Terminal.app on Mac OS 10.11 (though note that the same behavior is seen in iTerm2 as well).

Here's my test script:
[code]

And here's what I see after entering some text and then typing Ctrl-U:

![termkit-crtl-u](https://cloud.githubusercontent.com/assets/469523/26737593/bced5c30-4798-11e7-9434-4aa4043e78f1.png)

[2017-06-02 18:10] samizdatco commented on #30
That does make sense. In my case though I'm not trying to *avoid* filling the screenbuffer, it's more that I'm not sure how to set the fg & bg colors to a pair of specific values. What I'd like to do is use the 'default text' and 'default background' colors for the terminal.

From the Wikipedia page on [ANSI Escape Codes](https://en.wikipedia.org/wiki/ANSI_escape_code#graphics), it's this pair of

[2017-06-02 19:44] cronvel commented on #30
I'm afraid, but if that default color is not one of the 256 color palette, it wont be possible.
The ScreenBuffer uses one byte to code the BG color index and one byte to store the FG color index, there is no room for a 257th index.

Usually, the default color is either black or white or a shade of black/white, inside the 8 ANSI color palette or the 16 aixterm color palette. But some terminals allo

[2017-06-02 19:53] cronvel commented on #21
Thanks for reporting, indeed there was redraw issue depending on some options (or absence of options). It should be fixed now! ;)

[2017-06-03 17:49] samizdatco commented on #21
Yes! It's working great now. Thanks so much!

[2017-06-03 19:26] samizdatco commented on #30
I took a swing at adding the feature [here](#31). In my limited testing (and with my limited understanding of terminal-kit's internals) it *seems* like it's working.

It wouldn't surprise me at all if there are bugs in the way transparency and blending are handled though since I don't really have a handle on what's happening in those methods. That said, the `spaceship.js` demo seems to be working

[2017-06-03 22:05] samizdatco commented on #21
I also added a couple of other deletion keybindings that are common to most readline-powered command line tools [here](https://github.com/samizdatco/terminal-kit/commit/1c2f222e24bdb0d0011f555da73a52e667cee205):
  Ctrl-W: delete previous word
  Alt-D: delete next word

Do these seem more or less correct to you?

[2017-06-04 13:52] cronvel commented on #30
Thanks for your contribution, but unfortunately I was already working on that.
I'm trying to avoid a SemVer Major change and aim for a backward compatible change.

[2017-06-04 13:56] cronvel commented on #21
This is cherry-picked, and it landed on v1.9.0, thanks! ;)

[2017-06-04 16:55] cronvel commented on #30
@samizdatco it's done. It landed on v1.10.0.

You can do it using the new **attr** options `{defaultColor: true, bgDefaultColor: true }`.
This is also the default options for .fill() and at ScreenBuffer/ScreenBufferHD creation.
Tell me if that's working for you.

[2017-06-04 18:22] samizdatco commented on #30
The code is looking good! I've found one place where the default colors are 'leaking' outside of their defined areas though. See #32

[2017-06-04 23:25] samizdatco opened #33 "Do TextBuffers support transparency?"
I've run into some unexpected differences in behavior between TextBuffers and ScreenBuffers and am wondering if there's a way to get the 'empty' cells in a TextBuffer to be transparent in the same way that empty ScreenBuffer cells are.

From the docs, my understanding was that calling *.setEmptyCellAttr()* with `charTransparency:true` would mean that empty cells in the TextBuffer wouldn't overwrit

[2017-06-05 07:46] cronvel commented on #30
Thanks, it's merged. I fixed ScreenBufferHD too.

[2017-06-05 09:05] cronvel commented on #33
@samizdatco That's right, it doesn't support transparency directly.
The purpose of TextBuffer is to manage the text like in a text editor.
It's way more handy than using the ScreenBuffer's low level `.put()` method.
Moreover, the TextBuffer has a virtually infinite size by default, a thing that is not possible with the more concrete ScreenBuffer.
But things like transparency and composition are Sc

[2017-06-05 09:18] cronvel commented on #33
@samizdatco This is your modified example:

[code]

Note how there are one more buffer in the `.useTextBuffer()` method.
Also note that you should give the attr when inserting or it will default to the *emptyCellAttr*.

[2017-06-06 03:05] samizdatco commented on #33
Thanks for explaining. That clears things up considerably.

[2017-06-14 16:09] eduardoportilho opened #34 "Autocomplete not working?"
I've copied and run the documentation example that features history and auto-completion, but the auto-complete is not working for me. Can you help me to understand why?

(I'm using node v6.8.1, terminal-kit@1.10.2, iTerm and Fish shell).

![jun-14-2017 18-08-04](https://user-images.githubusercontent.com/895865/27142795-844617b2-512c-11e7-975c-38dedc081398.gif)

[2017-06-14 16:15] cronvel commented on #34
@eduardoportilho Hmm... really strange...
Can you run ./sample/key-test.js and hit the *TAB* key, and report me what is detected?

[2017-06-14 16:32] #33 closed

[2017-06-14 16:33] #30 closed

[2017-06-14 16:34] #28 closed

[2017-06-14 16:37] cronvel commented on #8
@kmgilbert100 This feature now exists out of the document model: [.singleColumnMenu()](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.singleColumnMenu)

[2017-06-14 16:37] #8 closed

[2017-06-15 05:03] eduardoportilho commented on #34
Aha, I didn't press the `tab` key... 😞😞😞
Sorry about that.

[2017-06-15 05:03] #34 closed

[2017-06-16 07:00] eduardoportilho opened #35 "inputField with singleColumnMenu in auto complete (instead of singleLineMenu)"
My app has an `inputField` with `autoCompleteMenu` but the options are too long and they are not looking good on a `singleLineMenu`. As far as I could tell by reading the docs and the source there is no way to configure the type of the menu, right?

I could create a PR to add this option to the `inputField` config, do you think it is a good idea? There is any other way to change this?

[2017-06-16 08:08] cronvel commented on #35
@eduardoportilho Unless the number of lines for such auto-complete multi-line menu is fixed, it will be really painful to implement and error-prone.

Good luck!

[2017-06-16 09:24] eduardoportilho commented on #35
I came up with a quick proof of concept, but maybe there are a thousand of corner cases that I'm not considering... :(

![jun-16-2017 11-23-19](https://user-images.githubusercontent.com/895865/27220664-3ffaa7e8-5286-11e7-9e5a-90b5f12d6424.gif)

[2017-06-18 06:18] vwalsh opened #36 "How to keep a progress bar at the bottom of the terminal?"
Hello,

I've been trying to figure out how to create output similar to how Ubuntu's "apt update" and "apt upgrade" commands work - they show a bunch of output of lines of data, and appended to the bottom of the entire terminal is progress bar.

Currently I'm able to create the progress bar and output items all using terminal-kit, except when my progress bar is 'done' it get's overwritten by the ne

[2017-06-18 14:53] cronvel commented on #36
@vwalsh Yes, the progress bar used to be locked in-place, but I just published v1.11.0 where the option 'inline' (when set to true) turn on the behavior you need.

[2017-06-18 14:54] cronvel commented on #35
@eduardoportilho Thanks for contributing, I will *try* to get some time to review it tomorrow ;)

[2017-06-18 17:27] eduardoportilho commented on #35
@cronvel Do you want me to create a PR with this code? It is not well tested yet...

[2017-06-18 18:20] cronvel commented on #35
@eduardoportilho yes it would be nice ;)

[2017-06-27 08:02] cronvel commented on #36
@vwalsh Does it works for you? So we can close this issue...

[2017-06-27 21:33] vwalsh commented on #36
This does seem to have the desired effect, i'm still tinkering with my code to get it to display the way I'd like. I seem to still overwrite the progress bar when it finishes and more text is output to the console. I'll verify what/why that is before I ask for more help.

Thanks again!

[2017-06-27 21:33] #36 closed

[2017-06-29 16:00] danikaze commented on #16
Any terminal working on Windows for this? Any possible fix?
Because this kind of bug disables all kind of input from the user in this OS, which... makes almost nothing possible... :P

[2017-07-15 07:31] VertigoRay opened #39 "Nested ScreenBuffer"
I'm having trouble getting nested `ScreenBuffer`s to work in my `account()` function. I'm sure I'm just going about it wrong, but could use some direction. I'm simply not finding an example to reference.

The end goal is to have a section (the grey rectangle) that has several pieces of information in different areas that are updated regularly; as shown by the green rectangles. Unfortunately, I'm n

[2017-07-15 16:46] cronvel commented on #39
Hi @VertigoRay

Few comments:
- screenBuffer instances got a [`.fill()`](https://github.com/cronvel/terminal-kit/blob/master/doc/screenbuffer.md#ref.ScreenBuffer.fill) method, no need to use `.put()` with an array to init them
- terminal instances **and** `screenBuffer.put()` already got printf-like behavior, you don't need an *sprintf* module at all.
  E.g.: `screenBuffer.put( options, 'CPU Cores

[2017-07-16 04:39] VertigoRay commented on #39
I'm trying to make something like a `<table>` (html). It won't necessarily have a header row, but I can fill in the grid with data. Some of the cells will be labels, others will be data. That account area will show account information. I'll make several other sections to show status of others, but they're all generally shaped the same.

The end goal for that account section is to have something li

[2017-07-16 05:24] VertigoRay commented on #39
I definitely wasn't doing the `fill()` correctly. I have that working now.

[2017-07-16 05:42] VertigoRay commented on #39
Maybe I'm just doing the nested `ScreenBuffer`s wrong, but it's still not working:

The label, "Account", it's showing up in the top left of the box:
![image](https://user-images.githubusercontent.com/792482/28244943-7b4b0d74-69bf-11e7-9044-7068344cd5ec.png)

I did confirm that I can fill in coordinates and just redraw the main account box. Should I just do that, or do you happen to have a better

[2017-07-16 09:18] cronvel commented on #39
Depending on the level of complexity of your application, it may be overkill to use nested screenBuffers, and might even be overkill to use screenBuffers at all.

Are those cells static? dynamic? contains user input? Is the app *redraw-intensive*?

- For static cells or if the redraw rate is low, without user interaction, I would avoid screenBuffers, since they are a bit too low-level
- For dynami

[2017-07-16 23:11] VertigoRay commented on #39
Seems to be going in a favorable direction now. Thanks so much for your guidance.

![image](https://user-images.githubusercontent.com/792482/28252099-30d4a262-6a52-11e7-9534-bd2d526316e1.png)

[2017-07-16 23:11] #39 closed

[2017-07-26 17:36] Rush opened #41 "Autocomplete middle of token does not remove trailing matching content"
Awesome lib. I have a problem with autocompletion though. How to reproduce:

Run:
[code]

Enter some matching input and move cursor to the left:
![screenshot](https://user-images.githubusercontent.com/115926/28635048-d6fdccdc-71fe-11e7-8725-374e814668c9.png)

now press TAB:
Input will now be broken
![screenshot](https://user-images.githubusercontent.com/115926/28635075-ee96bb9c-71fe-11e7-9e51-4df1

[2017-07-28 07:38] cronvel commented on #41
@Rush that's right, it auto-completes up to the current cursor position, but **it's actually a feature**.
You get the same behavior in bash.

Is there some shell/readline-like piece of software you are used to that works the other way?

[2017-08-06 13:36] atombrenner opened #42 "How to return the string using .str()?"
Maybe I misunderstand the documentation, but shouldn't
`term.blue('BLUE').str()' return a string with escape codes for blue? It always print the string in blue to the terminal.

[2017-08-07 07:49] cronvel commented on #42
@atombrenner In your example, `term.blue('BLUE')` write 'BLUE' in blue and return `term`, **then** `.str()` return an empty string.

* If you want the escape code for blue and nothing else, then you must chain this way: `term.str.blue()` or `term.blue.str()`.
* If you want a string containing the escape code for blue, the text 'BLUE' **and** the style reset escape sequence, then you must chain thi

[2017-08-07 14:26] atombrenner commented on #42
Ahhh, now I got it :-) Thanks for the explanation!

[2017-08-07 14:26] #42 closed

[2017-08-15 10:49] calebjclark opened #43 "Stop scrollback in fullscreen()"
Is there a way to stop the user from scrolling up above the fullscreen window while fullscreen() is enabled? Blessed does this, but I haven't been able to make it work with terminal-kit.

[2017-08-15 16:09] cronvel commented on #43
@calebjclark I don't *exactly* what you mean, but here are some ideas:

* `term.clear()` erase the screen and move the cursor to the upper-left corner
* `term.eraseScrollback()` erase the saved line
* using `term.alternateScreenBuffer()` or [.fullscreen()](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.fullscreen) switch to an alternate screenbuffer that is the exact siz

[2017-08-23 16:37] davidgatti opened #44 "Hmm how do you show Done in the progress bar"
Maybe I'm blind, but some who the example code shows Done when the progress bar reaches 100%. But for some reason when I use the progress bar I don't get that? What triggers this action?

[2017-08-24 08:46] cronvel commented on #44
@davidgatti If you run the script located in sample/progress-bar-doc1.js, do you get it?

It should works, however I need more information to figure out what happened (your terminal and your code).

[2017-08-24 12:23] cronvel commented on #43
@calebjclark Any feedback on that issue? Is it solved?

[2017-08-24 14:51] davidgatti commented on #44
OK, sure, your code (2nd example) have a nice Done in bright white in the end. Shown in the screenshot bellow:

![screen shot 2017-08-24 at 4 44 59 pm](https://user-images.githubusercontent.com/411114/29672118-9fc96d8a-88eb-11e7-9eb4-1cbba17fdb74.png)

I of course modified your example to fit my needs, and now I wonder... did I removed a crucial part? Because I can't see or figure out what is miss

[2017-08-24 19:27] cronvel commented on #44
@davidgatti Hmm, that's strange, I can't see why it wouldn't works... Is there any `process.exit()` somewhere that can quit *before* it actually print 'Done'?

[2017-08-24 19:34] cronvel commented on #44
@davidgatti Ah ok, I found it: you haven't turned on the *eta* option. In fact `done` is written on the *eta* area of the progressBar, and since you turned it off, it cannot be displayed.

[2017-08-25 13:21] davidgatti commented on #44
O thank you! And actually both suggestions need to be done:

- add eta
- and add a small delay.

Then it all works :)

I'm glad you liked the style :) I'm doing my best to make it nicer for other to follow :)

[2017-08-25 13:21] #44 closed

[2017-08-28 14:37] davidgatti opened #45 ".gridMenu() indentation?"
@cronvel I have quick questions. I was wondering, is there a way to set an indentation (tab char) when displaying the .gridMenu()?

![screen shot 2017-08-28 at 4 25 17 pm](https://user-images.githubusercontent.com/411114/29778208-da947fe2-8c0e-11e7-85a7-48859fbed807.png)

I attached a screenshot to better show what I mean. I did try to use the following options: leftPadding, selectedLeftPadding, r

[2017-08-28 15:27] davidgatti commented on #45
Damn you fast :D

[2017-08-28 15:31] cronvel commented on #45
@davidgatti Thanks ;)

I don't know if it solves your issue, since it didn't deals with tab, but you can specify the *x* coordinate of the top-left menu's corner.

If you know for sure the indentation level of your terminal, you should be ok.

IMHO I would not rely on the tab char for that. Terminal-kit has `term.column()` that move the cursor on the desirable column.

[2017-08-28 16:01] cronvel commented on #45
@davidgatti Also I've added just now all available (low-level) tab manipulation: [see the doc](https://github.com/cronvel/terminal-kit/blob/master/doc/low-level.md#ref.movingCursor) (last five methods of the cursor section).

[2017-08-28 16:20] davidgatti commented on #45
ooo, cool. I'll play with the new toys tomorrow 🤓😁

[2017-08-29 14:33] davidgatti commented on #45
@cronvel fantastic the `x`, `y` position worked perfectly :) now everything is beautiful 😘😋

[2017-08-29 14:33] #45 closed

[2017-08-29 14:39] davidgatti opened #46 "After spending a week with your module :)"
Hi @cronvel,

I just would like to say, epic work on the module, made my life definitely much easier :).

I would like to give you two suggestions for potential new features :) Basically two things the I missed while working with the module:

1. A password field that will replace the characters with nothing, or `*` to hide the typed password
1. truncate a long ass entry. For example if I have a ve

[2017-08-30 07:45] cronvel commented on #46
@davidgatti Thanks for the praise! ;)

1. For password, you can set the option `echo` to `false`.  But that's right, it would be nice to be able to replace characters by `*` or whatever character instead.

2. Are you still talking about .inputField() here?

[2017-08-30 09:11] cronvel commented on #46
@davidgatti I screwed up my commit message and referenced the bad issue :s
I just commited a version with a new option to .inputField(): `echoChar`, it solves your 1.

[2017-08-30 13:21] davidgatti commented on #46
OK I will try your suggestion for Q1. About Q2 yes, I'm still referring to `. inputField()` :)

[2017-08-30 13:30] cronvel commented on #46
@davidgatti I screwed up my commit message and referenced the bad issue :s
I just commited a version with a new option to .inputField(): `echoChar`, it solves your 1.

[2017-08-30 15:44] davidgatti commented on #46
I see the Password support, it works fantastic! :D

[2017-09-09 21:40] jy95 opened #49 "How to select a folder ?"
Hello,

Thanks for this great lib.
Is it possible to select a folder with a function like [.fileInput( [options] , callback )](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#fileinput-options--callback-) ?

Thanks

[2017-09-10 08:18] cronvel commented on #49
@jy95 Hello, and thanks for the praise!

If you mean *force the selection of an existing folder*, the response is no.
At the moment, `.fileInput()` is like a regular `.inputField()`, with a file/folder auto-completion.
It does not enforce anything.

[2017-09-10 19:10] jy95 commented on #16
Same for me :

cmd or powershell KO ^^

[2017-09-10 19:14] #49 closed

[2017-09-24 23:32] laurent22 opened #50 "What applications are based on this package?"
I've just had a look at the package and I'm really impressed by it, the documentation, examples and tutorials are also excellent.

I'm curious thought, what was it initially created for? Is it to support an existing application? By the way are there any well know application based on this package (perhaps there could be a list in the readme file)?

[2017-09-25 08:06] cronvel commented on #50
Hi,

You can have a look to the [dependents list at npmjs.com](https://www.npmjs.com/package/terminal-kit). Also I suspect private usage of the lib, since it get a lot of downloads (on 09/25 npm indicates 50k downloads for the last month), and got quite few stars on Github.

I created it initially for my own needs, but I added many features coming from user's requests.

I use it in a lot of projec

[2017-09-27 12:10] laurent22 commented on #50
Thanks, yes looks like there's a lot of cool stuff being done with it, your Spellcast! engine being probably the biggest. I've been trying various terminal libs for my note-taking application, and terminal-kit looks the best option so I'll most likely use it.

[2017-10-01 15:41] laurent22 opened #51 "Efficient way to erase characters in a specific area?"
I'm not sure if this already part of the API and I missed it, but is there any way to erase a specific part of the terminal *without* moving around other characters?

eg. for example I have this:

	0123
	5678
	9012

And want to have this (erase the two characters in the middle):

	0123
	5  8
	9012

I found a way by doing this:

	term.moveTo(2,2);
	term.delete(2);
	term.insert(2);

But that seems a

[2017-10-01 16:12] cronvel commented on #51
Not really, except if you want to erase from your actual cursor to the end of line (`eraseLineAfter()`).

More efficient: `term.moveTo( 2 , 2 , '  ' ) ;` or `term.moveTo( 2 , 2 , ' '.repeat( 2 ) ) ;`

Also it could be interesting to have a higher-level function for erasing region, but it would definitively do something similar behind the scene.

[2017-10-01 17:38] laurent22 commented on #51
Great, thanks I missed that it was possible to do `moveTo(x, y, chars)`.

A function like `erase(x, y, width, height)` would be quite convienent. I can provide a pull request if you're interested?

Also another question, the `insert(x)` function actually inserts space characters, is that right? Or does it take the character it's inserting from somewhere else? (It wasn't clear from the documentatio

[2017-10-02 08:11] cronvel commented on #51
@laurent22 Hi, as you can see, I have added the `.eraseArea( x , y , [width] , [height] )` method that does exactly what you want.

For the `.insert()` method, it directly map to a terminal capability. So I cannot tell you if it actually adds *space* characters, or if a terminal has an internal *empty cell state*. However since empty areas act as spaces when we copy/paste them, that's not really i

[2017-10-03 11:18] laurent22 commented on #51
Brilliant, thanks a lot for the `eraseArea` function!

[2017-10-04 22:01] laurent22 opened #54 ""resize" event not working?"
I'm trying to get the `resize` event to work, or simply to get the new terminal height whenever it's resized, but it's not working so far.

I've narrowed it down to this simple script:

[code]

This will continuously print the same size, even as I resize the terminal, and the "resize" event is never fired.

If I Ctrl+C the script and start it again, it will then pick up the new terminal size, so i

[2017-10-05 09:16] cronvel commented on #54
@laurent22 Can you test it with those events:
- process.stdout.on( 'resize' , callback )
- process.on( 'SIGWINCH' , callback )

Terminal-kit use Node for that, and I don't know if Windows reports terminal resizing at all.

[2017-10-05 09:35] cronvel commented on #54
Apparently, this is a [known issues in the node.js repository](https://github.com/nodejs/node/issues/13197) .

[2017-10-05 12:24] laurent22 commented on #54
Seems that's the key. If I add an event listener for this, then the rest of it suddenly works. i.e. this doesn't work:

[code]

However if I add this at the bottom:

[code]

Then this event handler *and* the two previous ones also start working, so it seems adding this trigger something that makes terminal-kit (and node) detect resize events correctly.

`process.stdout.isTTY` is `true` on my machi

[2017-10-05 12:29] cronvel commented on #54
@laurent22 Wow, what an incredibly awkward behavior... -_-'
Was that tested inside WSL?

[2017-10-05 12:42] laurent22 commented on #54
Yes that was inside WSL, from ConEmu (in tmux if it makes a difference).

[2017-10-06 07:14] cronvel commented on #54
@laurent22 Does this fix this issue?

[2017-10-06 13:25] davidgatti commented on #46
Just a friendly ping, did you have a chance to think about the `truncate` capabilities? :)

[2017-10-06 13:49] cronvel commented on #46
I will add this to my todo-list ;)

[2017-10-06 14:29] laurent22 commented on #54
Unfortunately it still shows the same problem. I've tried running the file all-event-test.js and it didn't detect the resize event. However again if I add this line at the bottom: `process.on('SIGWINCH', function() {});` then the call `term.on( 'resize'...` magically starts working.

[2017-10-06 14:31] cronvel commented on #54
@laurent22 Argh... what is the value of `process.platform`?

[2017-10-06 14:49] laurent22 commented on #54
Oh right I see you have a check on process.platform, but on Windows WSL it actually returns "linux". If needed there's a package here that can detect WSL: https://github.com/ianmitchell/is-windows-bash

[2017-10-06 17:11] davidgatti commented on #46
😍

[2017-10-12 07:37] niemes opened #55 "How to Animate a Line"
**Hi ^^, thx you for Terminal-kit !**

I'm trying to animate lines with the screenBuffer like the demo spaceship but i'm having trouble to understand how animation logic work with the screenbuffer.

The idea its to create a big buffer to put one buffer per line to write word and move words left to right.

## like this :

[code]

## The question is pretty short.

What's the logic to animate a lineb

[2017-10-12 08:14] cronvel commented on #55
@niemes Hi! If you don't have any background, you should clear your viewport first (`viewport.clear()` or `viewport.fill()`). The spaceship demo doesn't clear because of the background buffer that ensure that all cells will be redrawn.

ScreenBuffers doesn't manage animation, they are just like *surfaces* in 2D rendering. You should clear the buffer used to render (here *viewport*) and you should

[2017-10-12 12:32] niemes commented on #55
It works great ! thx you for your quick answer @cronvel :D.

Does buffer have a built-in method to be delete ? Because .clear()  doesnt delete the buffer object. If I want to delete the buffer ? Do i only need to stop draw() ?

something like that :

[code]

[2017-10-12 17:03] cronvel commented on #55
Désolé, je me suis trompé avec la méthode clear/fill, j'oublie à chaque fois qu'elle met par défaut l'attribut transparent sur le buffer ^^

Du coup au lieu de `viewport.clear()`, il faut utiliser `viewport.fill( { char:' ' } )`.

Ce code fonctionne:
[code]

Petit détail: un terminal commence avec 1,1 en haut à gauche, mais un ScreenBuffer commence plus logiquement en 0,0 en haut à gauche (cf corr

[2017-10-12 19:51] niemes commented on #55
Super ! Vraiment merci @cronvel , je saignais des yeux à force d'être bloqué sur çà, j'ajoutais aussi l'espace avant le string mais je pensais que c'était une solution pas vraiment propre pour régler l'animation du buffer.

Merci pour les petites astuces, je ne suis pas familier du fonctionnement général des buffers...

Connais tu une manière effective pour cibler les buffers de ligne créaient dyn

[2017-10-13 06:48] cronvel commented on #55
@niemes de rien! ;) En revanche je n'ai pas compris ta dernière question... Tu veux faire quoi concrètement?

[2017-10-13 10:52] niemes commented on #55
Eh bien, je souhaite faire deux chose au point ou j'en suis.

- 1) Pouvoir mettre différent interval d'apparition pour chaque mots/buffer de ligne.
- 2) Pouvoir supprimer le buffer si je tape un des mots contenu dans un des buffers de ligne en cours. Et pouvoir cibler ce buffer pour le supprimer instantanément a ayant sa position.

Pour la première question dans mon prototype j'utilise un petit sy

[2017-10-13 11:40] cronvel commented on #55
@niemes Ok, je vois, donc:
* pour supprimer un buffer, c'est comme partout ailleurs en JS, il suffit de déréférencer l'objet, le garbage collector fera ce qu'il faut tout seul. Si tu maintiens un tableau de *sprite*, supprime simplement l'élément du tableau avec un `array.splice()`.
* effectivement, c'est pas évident de récupérer le mot rentrer dans un *screenBuffer*, la solution la plus simple se

[2017-10-13 21:28] niemes commented on #55
@cronvel La suppression par le delete line[mot] marche super bien ! , tout marche parfaitement bien :D !

Pour les Intervales, pour l'instant j'utilise le x en négatif en attendant de créer une fonction propre et modulable !
Merci pour tes conseils qui sont mon unique aide avec la doc de ta librairie ! ^^, j'apprécie beaucoup l'esthétique du terminal ahah et terminal-kit simplifie pas mal de chose

[2017-10-13 23:39] refack commented on #54
Can anyone check if this reproduces with `node@8.7.0`?

[2017-10-14 07:14] cronvel commented on #54
@laurent22 ?

[2017-10-14 07:19] cronvel commented on #55
@niemes Quelle est la taille du *screenBuffer*? Les *screenBuffer* ont une notion de curseur, quand dans un `.put()` les coordonnées x,y ne sont pas données, c'est la valeur du curseur en cours qui est utilisé. Le curseur se place toujours sur la cellule qui suit la dernière écriture.

[2017-10-14 13:04] niemes commented on #55
@cronvel la taille du screenbuffer est la taille du mot, mot.length.

Donc la logique serait :

- modifier la taille du buffer.
- placer le curseur au début du screenbuffer.
- exécuter le .put avec les différents paramètres.
- changer la valeur du buffer.

?

[2017-10-14 13:56] laurent22 commented on #54
@refack, yes it's still happening in node 8.7.0. This doesn't work;

[code]

But with the empty `process.on('SIGWINCH', function() {});` at the bottom it does:

[code]

[2017-10-14 18:13] cronvel commented on #55
Pour modifier la taille, il faut faire un [*screenBuffer.resize()*](https://github.com/cronvel/terminal-kit/blob/master/doc/screenbuffer.md#ref.ScreenBuffer.resize).

[2017-10-15 16:56] niemes commented on #55
Cela marche parfaitement, merci @cronvel  !

Une petite question concernant le .gridMenu, comment supprimer cette erreur/event :

![error](https://user-images.githubusercontent.com/6246777/31587030-49379ccc-b1da-11e7-9352-6403b45fae67.png)

je ne sais pas d'ou vient le message, il s'affiche lors du print du gridMenu...

[2017-10-15 18:04] cronvel commented on #55
@niemes Je ne vois pas non plus pourquoi ça écrirait ça... c'est quoi le code qui l'utilise?

[2017-10-15 18:12] niemes commented on #55
[code]

Simplement cette partie de mon code, le grid menu sert a démarrer le programme, l'erreur s'affiche puis si j'utilise les flèches le menu overwrite la partie gauche de l'erreur.

![grid](https://user-images.githubusercontent.com/6246777/31587609-18a3ba68-b1e5-11e7-8f21-794fd5af2d1f.png)

[2017-10-16 08:19] cronvel commented on #55
@niemes ^^

[2017-10-19 19:20] refack commented on #54
@laurent22 thanks!
Now waiting for https://github.com/nodejs/node/pull/16225

[2017-10-19 19:48] laurent22 commented on #54
Brilliant, thanks for the update!

[2017-10-20 08:06] cronvel commented on #54
Great!
That reminds me that I definitively need a Windows maintainer...

[2017-10-20 16:38] laurent22 commented on #54
I can help with that if needed. I'm using Terminal Kit quite a lot in a note-taking app I'm working on at the moment (it's [here](https://github.com/laurent22/joplin/tree/tkwidgets) but not officially released yet) and I'm only using Windows. For the most part I didn't have any issue actually other than the `resize` issue, which is more a Node regression.

[2017-10-20 17:26] refack commented on #54
If you need Windows specific review, feel free to ping me as well.

[2017-10-20 19:32] cronvel commented on #54
@laurent22 @refack Thanks a lot, it will be really useful. I don't have Windows anymore and I never used it for dev, so I terribly lack experience. And there are many specific environments like Cygwin and WSL, or various terminals more or less compliant (putty, console2, etc).
I realize that there are more Node.js developers working on this platform than I could imagine, and I would be happy if th

[2017-10-23 22:31] laurent22 opened #56 "Position at specific location in inputField?"
I was wondering is it currently possible to programmatically move the cursor in an inputField? The use case I have in mind is that I display an inputField and pre-populate with eg `mkdir ""` and I move the cursor automatically between the quotes so that the user can start typing from there directly.

I know there's already something to start with a default value but I couldn't find how to set the

[2017-10-24 08:52] cronvel commented on #56
@laurent22 It was not possible, but I added that feature just now, see [the doc](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.inputField).

Either you pass the `cursorPosition` option, or you use the method `.setCursorPosition()` of the object returned by `.inputField()`. Both support negative values: it starts from the end of input.

[2017-10-24 18:40] laurent22 commented on #56
That's perfect, it works great. Thanks a lot!

[2017-10-26 17:47] b4dnewz opened #57 "Remove a event listener (off)"
I see in the documentation is possible to add a event listener using: `term.on('key', fn)`, when I tried to use: `term.off('key', fn)` doesn't remove it.

Is possible to unset the event listener? I need in particular for this terminal application the possibility to bind different key handlers in different screens so it will be useful to set/unset the key event listener function.

[2017-10-27 13:16] cronvel commented on #57
@b4dnewz Hmm... I don't see any error on my side... Can you post your code?

[2017-10-27 15:58] b4dnewz commented on #57
yep sure, the module is [this](https://github.com/b4dnewz/monitor.io) a fork of a module that isn't working anymore and i'm trying to fix.

I set the key bindings (for a particular screen) in this lines.

[func ](https://github.com/b4dnewz/monitor.io/blob/master/index.js#L118-L158)
[on event](https://github.com/b4dnewz/monitor.io/blob/master/index.js#L179)

this bindings catch 'b', 'p' and some ot

[2017-10-27 16:08] cronvel commented on #57
@b4dnewz You are using `.bind()` to register the listener and the real function to stop listening:
[code]
A Javascript function is not equal to its bounded version, that's why it doesn't work. ;)

[2017-10-27 16:10] b4dnewz commented on #57
so I need to bind the context to the other funtion too? right?

[2017-10-27 16:13] cronvel commented on #57
No it would be two different bound functions again.

There are many solution. One of them is to tranform `Monitor.prototype.listModeKeys = function(key, matches, data)` to a regular `function listModeKeys(key, matches, data)`, and inside the `Monitor()` constructor assign `this.listModeKeys = listModeKeys.bind( this )`.

[2017-10-27 16:15] b4dnewz commented on #57
thanks for the clarification @cronvel.
I will try to refactor my code.

[2017-10-27 16:15] #57 closed

[2017-10-27 16:37] b4dnewz commented on #57
hey @cronvel do you use slack or any other chat? I would like if possible in some rare cases where the documentation (which is great) doesn't help me, to talk with you directly, is that possible?

many thanks in advance, I fixes it, right now I'm focused to make my fork version work exactly the same like previous but using your module, than I will refactor all the code and the logic.

[2017-10-27 22:05] b4dnewz commented on #57
hi @cronvel, it's again me, I don't want to be boring and I don't want to open any other issue since are questions most of them.

I'm trying to get the **stdin** and **stdout** from a socket client using node `net` module to create a server since [node-telnet](https://github.com/TooTallNate/node-telnet) it's not updated, relies on [node-buffers](https://github.com/drewblaisdell/monitor.io/issues/3

[2017-10-29 09:27] cronvel commented on #57
@b4dnewz Hi, you should use the [terminal constructor](https://github.com/cronvel/terminal-kit/blob/master/doc/global-api.md#ref.createTerminal).

This should work:
[code]

[2017-10-29 12:10] b4dnewz commented on #57
thanks @cronvel it's working good now!
on certain terminal less than on others but maybe it depends on my code, I will do further checks

[2017-11-07 16:45] extremecodetv opened #58 "gridMenu error with array not containing string items"
e.g.
[code]
Problem in gridMenu.js module - 122 line
I think need throw exception if array not contains string items, or try cast items to string.

I can fix this error

[2017-11-11 09:27] cronvel commented on #58
@extremecodetv Fixed ;)

[2017-11-11 09:27] #58 closed

[2017-11-11 09:27] #56 closed

[2017-11-11 09:28] #55 closed

[2017-11-11 09:28] #51 closed

[2017-11-11 09:31] #43 closed

[2017-11-14 22:19] ctataryn opened #59 "restoreCursor not working when current line is at bottom of terminal?"
I am trying to use a `singleColumnMenu` to display some options. The idea here is when the user selects an item, the app will:

1. Clear the `singleColumnMenu`
2. Replace it with a `.inputField`
3. Gather the input
4. Redisplay the `singleColumnMenu` where it was before

I tried some preliminary code to see if I could accomplish steps 1-2, but `restoreCursor()` is acting in a nondeterministic fash

[2017-11-15 10:02] cronvel commented on #59
@ctataryn Hi, `.saveCursor()/.restoreCursor()` **are** deterministic, however you are suggesting it works on a coordinate system based upon the text flow, while in reality it works with the terminal coordinate system.

Let me explain what happened:
- the cursor is at the bottom of the screen, you save its position
- some text forces a scrolling of the terminal's content
- you restore the saved cur

[2017-11-15 11:07] cronvel commented on #59
A better approach:
[code]
The trick is to use `.getPosition()` on the returned menu/inputField controller.

[2017-11-16 04:23] ctataryn commented on #59
One thing I noticed is that after you run it a few times and get to the bottom of the terminal, the `Enter some text: ` prompt doesn't get erased and the menu redisplays several lines under the prompt.

![end of terminal problem](https://user-images.githubusercontent.com/435719/32873786-a13ccdf2-ca53-11e7-98ff-16c263fdc405.png)

So I think the problem still persists?  But thank you for such a thor

[2017-11-16 04:51] ctataryn commented on #59
Oh, never mind. I had an extra line of code I shouldn't have had on my side.

Just a question...
What I thought I could do instead was, within the `menu`'s callback, call `menu.hide()` and then in the `inputField`'s callback I could call `menu.show()`. That visually works great for me!  However, the menu no longer responds to keyboard navigation. I believe it's because the menu has a selected item

[2017-11-16 09:13] cronvel commented on #59
@ctataryn Ok, I didn't understood that your intend was to use twice the same menu.

The default behavior is that once something is selected, the callback is fired and the menu stop doing anything.

To prevent this, you can use the [*continueOnSubmit* options](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.singleColumnMenu):

So... use a combination of `menu.on( 'submit'

[2017-11-16 13:39] ctataryn commented on #59
Very good! Thank you, you’ve done such a great job on documentation that I should have been able to piece that together myself! Thanks for your patience. 🙏🏻

________________________________
From: Cedric Ronvel <notifications@github.com>
Sent: Thursday, November 16, 2017 3:13:26 AM
To: cronvel/terminal-kit
Cc: Craig Tataryn; Mention
Subject: Re: [cronvel/terminal-kit] restoreCursor not working whe

[2017-11-16 15:58] cronvel commented on #59
@ctataryn You're welcome! ;)

[2017-11-16 15:58] #59 closed

[2017-11-16 21:36] ctataryn commented on #59
@cronvel even with `{ continueOnSubmit: true }` the menu seems to hang when I execute the following in the `inputField`'s callback:

[code]

The menu item selected still has that "in the process of being submitted" sort of look after it is resumed:

![after submission, ](https://user-images.githubusercontent.com/435719/32917027-8098f78e-cae3-11e7-999b-581c36564046.png)

On a side note, is it possi

[2017-11-17 08:24] cronvel commented on #59
@ctataryn Well it is not that flexible! There is no way to change the menu items at the moment... To redraw, you can call `menu.redraw()`. If you want to change the menu items, you need to revert back to your previous algorithm, where you create a new menu anytime you're done with your input field.

[2017-11-17 13:21] ctataryn commented on #59
Ok, I may have to do that anyway given the behaviour I’m experiencing with the menu not responding to keyboard input after an item is selected even with `continueOnSubmit` being set and using `.resume()`

________________________________
From: Cedric Ronvel <notifications@github.com>
Sent: Friday, November 17, 2017 2:24:40 AM
To: cronvel/terminal-kit
Cc: Craig Tataryn; Mention
Subject: Re: [cronve

[2017-11-17 13:36] cronvel commented on #59
@ctataryn Maybe it's not well documented here, but when using `continueOnSubmit`, most keys stop doing anything unless the user *cancel* its choice with the *backspace* or *delete* key (key bindings are configurable).

To be honest, the menu was coded with *one menu call per user input* in mind.

[2017-11-17 14:18] ctataryn commented on #59
Fair enough, I’ll change my approach back to the original way. Again, thank you for your attentive help.

________________________________
From: Cedric Ronvel <notifications@github.com>
Sent: Friday, November 17, 2017 7:36:28 AM
To: cronvel/terminal-kit
Cc: Craig Tataryn; Mention
Subject: Re: [cronvel/terminal-kit] restoreCursor not working when current line is at bottom of terminal? (#59)

@ctata

[2017-11-17 17:31] ctataryn opened #60 "Funny cursor positions depending on invocation of `singleColumnMenu`"
If I invoke a `singleColumnMenu` like so:

[code]

Everything works great like so:

![Working...](http://g.recordit.co/SXVOtXAyCr.gif)

However, if I move that `singleColumnMenu` callback into an `.on('submit', ..._` block, the following behaviour happens (i.e. `inputField` is moved to the bottom of the now-erased menu):

![Not working](http://g.recordit.co/EHtcy9V4Vp.gif)

Full code can be found

[2017-11-18 09:26] cronvel commented on #60
* The *submit* event is invoked immediately. The *submit* event is designed to work with the *continueOnSubmit* option, i.e. when the menu is kept alive after submitting.
* The callback is not designed to work with *continueOnSubmit*, it is triggered after submitting and after cleaning up the menu: once everything is done.

In your case, use the callback. ;)

[2017-11-18 13:49] ctataryn commented on #60
Thanks, I saw that  doc but I couldn’t put 2+2 together as to why my cursor position wasn’t working, but it makes sense now. The cursor is already set to be after the menu since it’s all submitted and cleaned up by that point 👍🏻

________________________________
From: Cedric Ronvel <notifications@github.com>
Sent: Saturday, November 18, 2017 3:26:04 AM
To: cronvel/terminal-kit
Cc: Craig Tataryn; A

[2017-12-03 23:15] laurent22 commented on #50
For information I've just released my note-taking app with a CLI client based on terminal-kit - https://github.com/laurent22/joplin Had various bug reports on this app but none related to terminal-kit - terminal compatibility in general seems to be very good, so thanks a lot for your work!

[2017-12-04 08:34] cronvel commented on #50
@laurent22 It looks great!

Just a little bug I found: the app should "show the cursor" (`term.hideCursor( false )`)before spawning the editor, editor who do to so at startup will not have any cursor.

[2017-12-06 11:48] laurent22 commented on #50
Thanks, I'll look into it! By the way, is there a standard way to save/restore the full terminal state? For example, when opening vim, I'd save everything and when closing it, I'd restore it? I couldn't quite find a method for this.

[2017-12-06 14:11] cronvel commented on #50
@laurent22 There isn't such terminal capability. Terminal capabilities haven't evolved for decades...

[2018-01-20 17:40] RichardJohnn opened #61 "ScreenBufferHD with createTerminal?"
hello, first I'd like to say thanks for the library. I am having fun making a game with [clojurescript and this.](https://github.com/RichardJohnn/DND/tree/master/clojure)

I have been using `createTerminal` instead of the plain `terminal` because the game is a server for telnet connections, but I can't seem to get the screenbuffers (with lots of fun colors) to work at the same time.

does ScreenBu

[2018-01-21 09:21] cronvel commented on #61
Hello @RichardJohnn,

Over a `telnet` connection (as well as `ssh` connections most of time) the server cannot find out the capabilities of the client terminal.

You got two options: either you continue using the default `terminal` instance, but you run your command with `COLORTERM=truecolor` (e.g. `COLORTERM=truecolor ./dnd`), or you pass the correct option too `.createTerminal()`.

BTW the (defa

[2018-01-21 13:35] RichardJohnn commented on #61
hmhm!  I did try passing 'gnome-256colors' as the appId and `support.trueColor` was true, but things stopped rendering when using ScreenBufferHD.  I will keep digging in then, just wanted to make sure it was expected to work out AOK.

Is the code for your game available to take a look at? :)

[2018-01-21 13:47] cronvel commented on #61
@RichardJohnn Over telnet and inside the terminal-kit directory, try running `COLORTERM=truecolor ./sample/screenbuffer-hd-test.js`, and tell me if it works. It should display three moving boxes with blending effects.

The code of my game is not available yet, I was refactoring it the last time I coded on it. Not sure if I will ever have the time to finish it...

[2018-01-21 15:57] RichardJohnn commented on #61
hm not so sure about running a telnet server so i ran an ssh server instead. I tried what you mentioned and that works.

what I have going on might be a little different I think?
[code]
if i `telnet localhost 2323` i only see the "ICU", not "Hello".  would you expect that to work out?

thank you for your time!  i know how it feels having so little of it :|

[2018-01-21 18:39] cronvel commented on #61
@RichardJohnn Haha, found it... My bad, 15min to remember that a `net.socket` is not a TTY stream ^^
Not sure how to achieve that through a socket, many info are lost.

Few things:
* manually set `term.width` and `term.height`
* `createTerminal( {stdin: client, stdout: client, generic: 'xterm-truecolor', appId: 'xterm-truecolor'} )`
* terminal resizing will not be detected
* during my test, it app

[2018-01-21 21:41] RichardJohnn commented on #61
Interesting.  Looks like I need to read up TTY, PTY and SSH more.

I was thinking I'd make a true client at some point, to support audio or even 3d graphics, but also thought it would be neat to support a simple telnet connection

thank you once again

[2018-01-22 09:22] cronvel commented on #61
@RichardJohnn I don't know what I was doing wrong yesterday, since it works perfectly today:

[code]

Like I said earlier, there is no way to guess the terminal width and height over telnet, and it's not possible to detect screen resizing.
You have to stick with a common size, or ask the user.

[2018-01-24 02:31] RichardJohnn commented on #61
Oh wow! that's great news.. looks like i was missing a lot of info.
I suppose having the user (me;) tweak their environment isn't so bad!

[2018-01-24 02:31] #61 closed

[2018-01-25 09:17] #60 closed

[2018-02-24 03:12] ShadSterling opened #62 "feature request: @types/terminal-kit"
I'd like to have [type declarations](http://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html) for this when I use it in [typescript](https://www.typescriptlang.org/) projects

[2018-02-26 09:34] cronvel commented on #62
@ShadSterling Sorry, but I know nothing about Typescript beside the name. Type declaration works with some formatted comment in the code?

[2018-02-26 18:15] ShadSterling commented on #62
No, Typescript is a superset of javascript which gets compiled down to javascript (after checking that every value matches the declared types).  The compiler also generates type declarations as separate files, so if you compile `foo.ts` the normal output is `foo.js` (containing executable javascript) and `foo.d.ts` (containing type declarations).  The type declarations can be used to check types w

[2018-03-15 10:11] martijnthe commented on #62
+1

[2018-03-27 15:26] #54 closed

[2018-04-01 13:45] zlydenko opened #64 "singleColumnMenu works bad with long arrays"
It displays only a few last items in array 😢

[2018-04-02 08:51] cronvel commented on #64
You mean when your terminal has less line than the number of menu items?

[2018-04-03 08:17] cronvel commented on #64
@zlydenko any details?

[2018-04-03 12:57] kurogelee commented on #62
As for  Low-level API, ".d.ts" content seems like below.
`(...values: any[]): Terminal;` might be `(...values: Array<string|number|boolean|null|undefined>): Terminal;`

[code]

[2018-04-05 09:04] zlydenko commented on #64
@cronvel first of all its clear console window and then display only a few last lines of array (i have search results in array ~60-70 lines and he displayed only 10 or less). Im using cmder console for Windows, OS: win10.

[2018-05-05 17:49] MichaelLeeHobbs opened #65 "Assistance with handling and tracking down the cause of: Error: .getCursorLocation() timed out"
I've built an SSH server to wrap some unsecured connections. Using terminal-kit for the interactive auth and menus. During interactive auth I've been having an issue where sometimes on slow vpn connections term.inputField will return an error of "Error: .getCursorLocation() timed out". I'm managed to solve this with: term.timeout = 3000 but that is not a very robust solution unless I pick some arb

[2018-05-07 08:30] cronvel commented on #65
Hi @MichaelLeeHobbs ,
What you did is probably already the best solution.

To give you some insight, the terminal "protocol" is not really reliable, and in fact, a terminal that does not handle a cursor location request will just silently ignore it, thus the only way to guess if it does not support that feature is to set up a timeout.

So increasing that timeout value is what you need to do.

Howe

[2018-05-07 12:35] MichaelLeeHobbs commented on #65
@cronvel Thanks for the info. The high value is likely due to our older SSL VPN we are phasing out. Saying it's terrible is unfair to the word terrible. I'll set the value back down to a normal value and do some testing/debugging on why the terminal seems to break after an error. It's very likely it could be something we are doing as we are doing man-in-the-middle operations to manage the remote p

[2018-05-07 12:35] #65 closed

[2018-05-12 11:33] piranna opened #66 "Move `grabInput()` to standalone module"
I've seen that `grabInput()` and `onStdin()` methods are really powerful and at the same time they are mostly agnostic to the rest of the terminal, so do you mind converting them on an independent module exposing them as an `EventEmitter`? This way it would not be needed to require the full library... Would you accept pull-requests for that?

[2018-05-12 12:57] cronvel commented on #66
Hi @piranna,

They are not that much independent from the rest of the lib, since they rely on terminal config: not all terminals send the same escape sequence for the same key (e.g. F1-F12, with or without shift, is the worst case, they are all using confusing and overlapping sequences).

Do you think the lib is too big? I recently made some works to depend on less modules (at least 60% have been

[2018-05-12 14:45] piranna commented on #66
Maybe not too big (at least compared with blessed), but it's doing too much things to my taste and would like it to be more modular, for example I would put the widgets on independent modules, and the TextBuffer and ScreenBuffer although useful I find them too much high level APIs, for example. On the other hand it's a good thing that it has so few dependencies, good job on this part :-)

My quest

[2018-05-29 10:35] ponsfrilus opened #67 "`singleColumnMenu` with option `continueOnSubmit` ?"
Dear all,
    is there a way to use singleColumnMenu with keeping the focus when an item is selected ? I've tried the `continueOnSubmit` param but I can't find how I can continue to select items after one was submitted. My test code is
[code]

When an item in the list is submitted, the focus is lost and the item is grayed - no way to continue....

I'm looking for a way to have the same behavior of

[2018-05-29 12:45] cronvel commented on #67
Hi,
I'm not sure to understand what you want to achieve, exactly.

Below an example with the `continueOnSubmit` option on. **The menu will still hang until the submission has been cancelled** (default key: backspace and delete, it is configurable, see the doc).
[code]

You may want to add that at the end of this test file, so you can Control-C to exit:
[code]

Since v1.17.6 (just published now), t

[2018-05-29 16:14] domq opened #68 "Using `.length` on .singleColumnMenu's menuItems doesn't work well with ANSI escape sequences"
Should either
  * let user provide custom length,
  * or use [strip-ansi](https://www.npmjs.com/package/strip-ansi)

[2018-05-30 08:29] cronvel commented on #67
Thanks a lot!

[2018-06-02 20:14] joe00123 opened #70 ".inputField() features: display problem when type chiness word"
when type chiness word，inputField display half part of the word；

[2018-06-03 13:28] cronvel commented on #68
Hi @domq,
Thanks for your PR, but there are other things to be aware of, like full-width chars.
I will try to fix that later in the next week if I have time.

[2018-06-03 16:10] joe00123 commented on #70
@cronvel   it works ; perfect  solution;
thank you very much!

[2018-06-03 16:30] #70 closed

[2018-06-04 08:16] shanehsu commented on #64
I believe the OP expects the menu to scroll if the number of items exceeds the terminal height.

[2018-06-06 14:50] ponsfrilus commented on #68
Hi @domq and @cronvel,
   I've just written [a test file](https://gist.github.com/ponsfrilus/309c4e44e9e3e6bb42c6172d0f9f895c) to test ansi, unicode, [zero width joiner](https://en.wikipedia.org/wiki/Zero-width_joiner) caracters with some node packages.
It appears that [string-width](https://www.npmjs.com/package/string-width) is doing a pretty good job as far as string's caracters are not mixed (

[2018-06-06 15:01] cronvel commented on #68
I know how to do it, I just need times for that ;)

[2018-06-08 01:01] vrachels commented on #16
in Terminal.js
~line 1383
I had to change the register terminal callback to before the requestCursorLocation
apparently it was doing the callback immediately / synchronously.

[2018-06-08 09:11] cronvel commented on #16
@vrachels Tell me more about that: you mean that when running Windows, the event fire immediately after the `this.requestCursorLocation()` line?
That's really surprising... `.requestCursorLocation()` is only outputting few escape sequence to the terminal, so no event could possibly kick in in between.

[2018-06-08 12:46] cronvel commented on #68
@domq @ponsfrilus Made various fixes and improvements, tell me if it works for you! ;)

[2018-06-08 13:37] ponsfrilus commented on #68
@cronvel it works very weel, thank you so much ! The new version of [gTrend](https://github.com/ponsfrilus/gtrend) is working like a charm :+1:

[2018-06-08 19:36] vrachels commented on #16
That is correct.  Stepping through terminal-kit code, on my windows machine, debugging the modified code goes something like:
1 breakpoint at this.requestCursorLocation  > step in
2 send escapes > step out
3 breakpoint at terminal callback > continue
4 breakpoint at next line after this.requestCursorLocation

Initial testing with original code never hit the breakpoint in the terminal callback.  Si

[2018-06-09 10:04] cronvel commented on #16
@vrachels ???
I don't get it... Writing to STDOUT is not supposed to trigger STDIN events synchronously, and BTW there is no thread.
Windows does not work the way it should.
Anyway, I trust you and I swapped the 2 lines.

[2018-07-13 07:47] LoganDark commented on #18
@cronvel really??

[2018-07-18 13:59] devzsolt commented on #18
It would be really useful

[2018-07-18 14:35] cheesefinger commented on #16
@cronvel @vrachels issue still present in terminal-kit@1.17.12

{ Error: .getCursorLocation() timed out
    at Timeout.async.setSafeTimeout [as _onTimeout] (C:\Users\admin\nodejs\console\node_modules\terminal-kit\lib\Terminal.js:1368:15)
    at ontimeout (timers.js:498:11)
    at tryOnTimeout (timers.js:323:5)
    at Timer.listOnTimeout (timers.js:290:5) code: 'timeout' }

[2018-07-19 18:30] vrachels commented on #16
@cheesefinger do breakpoints in onTerminal (Terminal.js ~1355) hit?
before or after ~1368, or if you increase the timeout value ~1371?

just updated to latest and confirmed working without modification using w10 cmd and powershell

I did however notice that the git bash does fail.  It is reporting its type as 'pipe' instead of tty, meaning the control codes aren't likely even being processed.

try

[2018-07-20 09:02] cronvel commented on #16
Hi @vrachels @cheesefinger,

Since detecting if running inside a terminal is simply done using `isTTY = !! process.stdout.isTTY`, if git-bash is not considered a TTY, then it is either an issue with git-bash, or an issue with the Windows version of Node.js.

Also, it's true it should throw a more meaningful error message, and should not wait for timeout.
Version v1.17.13 should fix that.

[2018-07-20 09:05] cronvel commented on #18
@LoganDark @devzsolt @bradennapier It will be done once I got some time dedicated to the project.

[2018-07-20 14:21] cheesefinger commented on #16
Thanks for the response @cronvel @vrachels

onTerminal (1355) is never hit even with a 10s timeout.
I hadn't tried powershell but it produced the same results.

Behavior is observable when running unmodified input samples in  ./sample/

[code]

Host is win7.

[2018-07-20 17:12] vrachels commented on #16
@cheesefinger can you paste the output of the 'too much info' line added to detectTerminal.js?

[2018-07-23 13:35] cheesefinger commented on #16
@vrachels

[code]

[2018-07-25 14:13] cronvel commented on #18
@LoganDark @devzsolt @bradennapier It's not yet documented, but almost everything now support promises, as of v1.19.

E.g.:
[code]

[2018-07-25 14:13] LoganDark commented on #18
Okay, thanks

[2018-07-25 15:18] cronvel commented on #18
@LoganDark @devzsolt @bradennapier The documentation is updated.

[2018-07-25 15:18] #18 closed

[2018-07-26 08:48] #68 closed

[2018-07-26 23:14] vrachels commented on #16
(I got nothing.  Looks like a tty to me!)

[2018-07-31 02:29] joselevelsup commented on #46
@davidgatti where do you see the password support?

[2018-07-31 08:07] cronvel commented on #46
@joselevelsup Add `echoChar: '*'` to the `options` object, or whatever you want to be echoed instead of the user input.

[2018-07-31 08:09] cronvel commented on #46
@joselevelsup Alternatively, use `echo: false` if you don't want anything to be displayed at all.

[2018-08-11 13:06] devzsolt commented on #18
Awesome, thank you @cronvel!

[2018-09-18 21:04] LoganDark commented on #62
Please...

[2018-09-19 10:28] LoganDark commented on #62
Heh. If you rewrote terminal-kit in TypeScript, you could easily get a JS version and a typings file. It would also be much easier to maintain on _your_ end...

I learned TypeScript in a week, I think it would be a fun project for you. Besides, every good library has TypeScript typings. TypeScript is like JavaScript for sane developers.

[2018-10-02 09:47] hfhchan opened #71 "Support cancelable for .singleLineMenu and .singleColumnMenu"
Adding Key event handlers and/or using `exitOnUnexpectedKey` seems like overkill for this (common?) use-case.

[2018-10-02 11:08] cronvel commented on #71
Hi,

Thanks for your input, however I believe that the default use-case is when you want your user to actually SELECT an option. Bypassing the menu is not the default expected behavior.

[2018-10-02 18:09] hfhchan commented on #71
The implementer would need to explicitly set `cancelable: true` for the ESC key to take effect.

I am implementing a console application where different screens would be shown depending on the menu behavior, and there needs to provide a way for the user to backtrack instead of CTRL+C and starting over.  Adding a "Back" option to the menu would be less user-friendly.

[2018-10-05 15:58] cronvel commented on #16
@el00ruobuob AFAICT those terminals don't support requesting terminal information.

[2018-10-05 16:36] el00ruobuob commented on #16
@cronvel however, Windows 10 cmd works just fine, that's strange.
I hope to find a suitable command line interpreter for windows 8.

[2018-10-08 08:09] cronvel commented on #71
It's merged, pushed and published on npm as v1.26.3.
Thanks ;)

[2018-10-08 08:09] #71 closed

[2018-10-15 11:53] DiabloRodriguez opened #73 "Closed Automatically At Exporting .exe With pkg"
I don't know why, but when I try to export a .exe file with terminal-kit, the .exe file is closed automatically.
How do I know what is caused by terminal-kit?, 'cause When I Retire terminal-kit of my code the exported .exe is working perfectly.

If anyone want to see my code, is here, but I repeat, when I retire "require('terminal-kit')" the .exe works. But in terminal with "node index.js" it's wo

[2018-10-15 16:53] cronvel commented on #73
@DiabloRodriguez What do you mean by "exporting an .exe"? You are working on Windows and use some kind of third party software to build an .exe program? Which runtime is running it?

[2018-10-15 23:34] laurent22 commented on #73
Maybe an exception due to a file that want packaged? Don't they provide a way to view thrown exceptions?

[2018-10-16 08:02] cronvel commented on #73
@DiabloRodriguez Hmm... Since I don't own a Windows, it will be hard for me to debug things... Few questions:
- does *pkg* come with its own terminal rather than the built-in Windows one?
- any error output before quitting?
- which Node version is using your build?

[2018-10-16 10:17] DiabloRodriguez commented on #73
@cronvel

- Basically _pkg_ exports a "console exe", A exe that is opened with Windows Console (CMD).
- No errors, practically nothing, just console open and closes with black screen, no output.
- My Node Version is v8.11.3

I want to add a curiosity, when I add code before add terminal-kit :

The code is executing without problems like _console.log('hello')_. But in theory when the .exe run the i

[2018-10-16 10:54] DiabloRodriguez commented on #73
I do not know, but in the end I think that for the moment it is impossible to solve it. Just to add, when _pkg_ compiles packages if there are errors it reports them in the compiled process, so if there was a problem with the terminal kit package, _pkg_ would have already said it. The same happens in _nexe_.

[2018-10-19 11:35] FranklinWaller opened #74 ".getCursorLocation() timed out"
Executing term.inputField results in the following error:

[code]
term.inputField(function (error: any, userInput: string) {
            if (error) {
                console.log('[Input] error -> ', error);
            } else {
                console.log(userInput)
            }
        });
[code]

[2018-10-19 11:55] cronvel commented on #74
@FranklinWaller What is your terminal application? It seems to not support requesting cursor location.
The iTerm terminal has been reported as working fine.

[2018-10-19 12:39] FranklinWaller commented on #74
@cronvel I’m using the default macOS terminal without any plugins

[2018-10-31 21:58] GongT commented on #5
cygwin & msys (git for win) is using Mintty, I think it's support all control sequence, including that even not supported by gnome-terminal or macos default terminal.

a fresh install cygwin or msys will always set TERM=xterm

using any .exe not compiled with cygwin or mingw (and the type and version should match mintty's) will cause 0x0 terminal size, **this is not able to resolve right now**.

[2018-11-01 09:32] cronvel commented on #5
@GongT Terminal-kit get the terminal size directly from Node.js, see the official doc [here](https://nodejs.org/dist/latest-v10.x/docs/api/tty.html#tty_writestream_columns) and [here](https://nodejs.org/dist/latest-v10.x/docs/api/tty.html#tty_writestream_rows).
I'm affraid but unless if you can confirm that those values are correctly reported by Node.js, I cannot do anything for you...

[2018-11-01 18:19] afturner commented on #74
This is also occurring to me, it may have something to do with stdin/stdout handling. I have a ctrl+c handler that goes something like this:
[code]
Commenting this code out causes the issue to go away. Perhaps it's due to "setRawMode?"

[2018-11-02 09:10] cronvel commented on #74
@afturner Thanks for reporting. However, you may want want to use Terminal-kit for input handling, something like this:

[code]
It's best not to interfere with `process.stdin` / `process.stdout` when using Terminal-kit (since the lib does thing with those objects too).

[2018-11-20 13:12] tvoloshyn commented on #73
@DiabloRodriguez The reason it doesn't work for you is because `pkg` analyses all of the require statements in order to determine what to package. If you look inside the `terminal-kit.js` you will see that there is a self written module called `lazyness` which is responsible for loading and assigning all of the properties to `termkit` object. `pkg` doesn't know how to parse it, therefore it fails

[2018-11-20 14:59] cronvel commented on #73
@tvoloshyn Thanks for the great explanation! ;)

I implemented lazy-loading to reduce the startup time. Since this lib is also used for lightweight CLI that run only few ms, a startup time as fast as possible is required.

@DiabloRodriguez Is there a way to tell to `pkg` to include some files specifically? If not, can you open an issue on the `pkg` repository?

[2018-11-29 18:18] envis10n commented on #73
This is more than likely the issue.
`"pkg": {
    "assets": "node_modules/terminal-kit/**/*"
  }`
Add this to your package.json and try it again.

[2018-11-29 18:26] envis10n opened #75 "Error loading under termux on android"
[code]

Was working fine until I updated to the most recent version of terminal-kit.
Node v11.1.0

[2018-11-30 08:54] cronvel commented on #75
@envis10n Hi, I wonder how it can be possible... Can you run `./sample/detect-terminal-test.js` ? Also, can you try-catch the offending line and report the value of the `key` variable?

[2018-11-30 09:06] cronvel commented on #75
@envis10n Ok, forget the previous message, just update to v1.26.6, and copy-paste me the error message.

[2018-11-30 14:06] envis10n commented on #75
Okay, sorry. My project was clearing after the message was printed. It revealed there is an issue with an array prototype function I was adding (Array.prototype.random). After removing this in favor of a regular function, the issue is gone. This was a recent change on my end.

This issue is not present on windows, but is present on linux.

`using termconfig: 'xterm-256color.generic.js'.`

[2018-12-06 07:14] MinusGix opened #76 "TextBuffer moveToEndOfLine throwing exception when moving to line that hasn't been used yet"
Operating System: Ubuntu 18.0.4
Default terminal.
(I imagine this happens on others, but I have not tested it on other systems)

The issue: When you call a function on a `TextBuffer` instance (such as `moveTo`), and that line has not been used (written to, which is where I assume the issue comes from) it will throw an exception.

Example code which throws (found when using it from NPM, and tested

[2018-12-06 09:51] #75 closed

[2018-12-06 09:53] cronvel commented on #73
@envis10n Maybe `node_modules/terminal-kit/lib/**/*` is more appropriate for the path?

[2018-12-06 23:19] markrad opened #77 "progressBar feature request"
I have a scenario where I would like to 'reset' a progress bar back to zero. Though this works to an extent, it continues to calculate the estimated time of arrival based upon the entire time the progress bar has been active so the initial time gets larger and larger. It would be nice to have a .reset method rather than having to destroy and recreate the progressBar each time.

[2018-12-07 09:50] cronvel commented on #77
@markrad Done. Let me now if it does the job.

[2018-12-07 21:17] envis10n commented on #73
I don't know, the one I posted is what I've been using and it works

[2018-12-08 00:43] markrad commented on #77
Hi @cronvel,

I works great. Thanks for the super fast turnaround.

[2018-12-08 00:43] #77 closed

[2018-12-11 11:03] #73 closed

[2018-12-24 01:45] Luigimaster1 opened #78 "ansi escape sequences dont work with textbuffers"
If I just write something like this:
`messagec.setText("\u001b[90mHello!")` (messagec is a TextBuffer)
then it displays ` [90mHello!`, which isn't exactly what I want.
The expected output is `Hello!` in gray.

[2018-12-26 09:47] cronvel commented on #78
@Luigimaster1 Yes, because it isn't made to work this way. The TextBuffer separates the text from the attributes, so everything you pass to `.setText()` is considered pure raw text. There are `.setAttr()` and friends methods to do that.

[2018-12-27 01:12] Floofies commented on #78
I am affected by this issue because [I am inserting `console.log` output into a TextBuffer](https://github.com/Floofies/hertzscript-dispatcher/blob/master/bin/cREPL.js), which will sometimes wrap the output string with ANSI escape sequences. How can I avoid this problem?

[2018-12-28 08:30] cronvel commented on #78
@Floofies Ok I understand the use-case. I will look into it after holidays.

[2019-01-07 15:35] FireCubez opened #79 "Backspace character not erasing input in input field only when tokenHook is provided"
I have code that looks like this:

[code]

It works normally. But I wanted to add syntax highlighting, so I added this tokenHook:
[code]
When I run this and try to press backspace to erase my input, it doesn't work. It just moves the cursor back without deleting chars. I can then overwrite what I wrote before with other chars

---
Edit: this seems to be happening even for a no-op tokenHook. Also h

[2019-01-08 07:40] jakecodes opened #80 "Error: Cannot find module 'lazyness'"
I installed the package from node, required it as
const term = require('terminal-kit').terminal
term('hello\n')
npm index
and I get this error....

[2019-01-08 09:30] cronvel commented on #80
`npm index` ?

[2019-01-08 12:08] FireCubez commented on #79
Seems to be related to [this issue](https://github.com/cronvel/terminal-kit/issues/21), where CTRL-U doesn't actually delete the characters. This time it happens with normal backspace and NOT with CTRL-U

[2019-01-08 16:23] jakecodes commented on #80
I ment node index to run the program idk why I typed npm sorry. But yeah I still get this error

[2019-01-08 20:41] cronvel commented on #80
@jakecodes No offense but it seems to me that the problem is on your end.
First, how did you get terminal-kit? Did you `git clone` it or `npm install` it? Which terminal-kit version? The latest?

* If you used `npm install terminal-kit`, was there any error in the console when you installed it?
* If you used `git clone`, have you type `npm install` inside the `terminal-kit` repository? can you lis

[2019-01-08 22:10] jakecodes commented on #80
I used npm install terminal-kit and don’t worry I’m not offended at all maybe I did make a dumb mistake. Just here to learn so I’m not embarrassed to ask questions haha

[2019-01-08 22:24] #80 closed

[2019-01-24 19:22] mpdatx opened #81 "Feature: Emit an event when autocompletion choice is highlighted"
I want to be able to react to a user navigating to (but not selecting) an autocomplete choice.

[2019-01-25 19:06] katsanva commented on #62
@ShadSterling https://www.npmjs.com/package/@types/terminal-kit

@cronvel this feature request is implemented and can be closed now.

[2019-01-30 23:04] brunetton opened #83 "drawImage() does not work with an url"
Hi,

I wanted to display an image from an url, as [the doc](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.drawImage) states this is possible:

[code]

But the promise raises an error:    { Error: ENOENT: no such file or directory, open 'http://3.bp.blogspot.com/_E6y4uud3frQ/SYfAH0WeXwI/AAAAAAAAALk/ADVKOqTMycY/s320/mankini2.JPG'

After a look in the code, it appears that

[2019-01-31 10:16] cronvel commented on #83
Hi,

Only local image are supported.
But thanks to pointing out that the doc is wrong.

The main reason is that the original *get-pixels* has too much dependencies, while Terminal Kit aims to have a good balance between features and lightweight.
The *get-pixels* fork was done specifically to remove HTTP image loading capabilities.

However, you don't need to uninstall `@cronvel/get-pixels`, just i

[2019-01-31 10:20] cronvel commented on #79
Hi @FireCubez ,
Just to say that I have a tons of work at the moment, I will look into the issue once I have some free time. Maybe the next week.

[2019-02-02 03:02] #62 closed

[2019-02-11 17:06] jacksbox opened #84 "TextBuffer should support word-wrapping"
I'm using code like this to draw information to a TextBuffer and draw the result to the terminal.
Everything works fine, except that the text wrapping isn't correctly applied. As I understand `wrap: true` should correctly wrap the text of the TextBuffer, but it doesn't - am I expecting something wrong?

[code]

[2019-02-12 12:59] cronvel commented on #84
Hi @jacksbox
I'm affraid but TextBuffer does not support **word-wrapping** at the moment. Only simple non-word aware wrapping is supported.

Outside of TextBuffer, you can wrap using [.wrapColumn](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.wrapColumn).

[2019-02-12 16:07] jacksbox commented on #84
@cronvel thanks for the fast answer 😄 I feared this might be the case.
I'm trying to have some ui interface in one section of the terminal (which is handled by screenbuffers) and a normal `log-output` section in the other. Is there a way of doing this with terminal-kit?

[2019-02-13 17:15] cronvel commented on #84
If you want something like *tmux*, it's possible but Terminal Kit actually lacks a Virtual Terminal Emulation backed by a ScreenBuffer, which is on my TODO (but no time to code that ATM). You will have to manage your `log-output` on your own.

[2019-02-19 15:47] cronvel commented on #81
@mpdatx The 'highlight' event is now implemented, see the doc: [here](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.inputField), [here](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.singleLineMenu) and [here](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.singleColumnMenu).

[2019-02-19 15:48] #81 closed

[2019-03-09 15:33] tomachinz commented on #11
Give some of these a try perhaps, these are Javascript / Node, at some point I realised stdout was better as it doesn't add a newline, some are better for linux versus macOS etc:
[code]

[2019-03-29 08:18] anemol opened #86 "SyntaxError: Unexpected token function"
Linux, NodeJS v6.16

[code]

It gives this error:

[code]
Are there dependencies to install?

[2019-03-29 08:21] laurent22 commented on #86
async/await was added in NodeJs 8 so you'll need at least this version to get it to work.

[2019-03-29 08:28] anemol commented on #86
I must work with Node v6.x. No solution?

[2019-03-29 08:30] laurent22 commented on #86
I guess you could transpile the lib using Babel, but I've never tried that so I don't know if it would work. Perhaps someone else here could help.

[2019-03-29 09:55] cronvel commented on #86
@anemol Sorry, but the lib require Node v8 Carbon LTS. Node v6 reachs end-of-life in exactly [one month](https://nodejs.org/en/about/releases/). Also I'm curious: why **npm** didn't inform you that your node version is is not valid?

If you are stuck with node v6, either use an older version of Terminal-kit, or patch the few occurrences where *async functions* are used, replacing them by *Promises

[2019-03-29 10:19] cronvel commented on #86
@anemol You can use at most Terminal-kit v1.18.0, which was published on July 2018, so it's not that old.
I have made a mistake, I only changed the node engine version in the `package.json` on v1.26.4, but in fact node v8 in mandatory for all v1.19+ version.
I have updated the CHANGELOG accordingly.

[2019-03-29 10:26] anemol commented on #86
Thank, i will try the previous version. :)

[2019-03-29 11:36] #86 closed

[2019-04-12 17:33] tyrak opened #87 "Add method to set fg/bg color by name"
I sometimes find myself writing code like this

    if (color === "red")
    	term.red(msg)
    else if (color === "green")
    	term.green(msg)
    else if (color === "yellow")
    	term.yellow(msg)
    else
    	term(msg);

Wouldn't it make sense to have a method, say `.color(...)`, so that I could write:

    term.color(color, msg);

instead of the above.

More formally, the expression

    ter

[2019-04-12 17:42] cronvel commented on #87
Hi @tyrak ,
Why just `term[color](...args)` ?

Not sure if it would help, but you can also write in red using the `^` markup: `term('^RArgh...')` would write *'Argh...'* in red.

[2019-04-12 18:06] tyrak commented on #87
I feel that this is slightly dangerous because `color` might be something like `"clear"`.

In my actual code, the string that I'm printing (`msg` in the above example) comes from an untrusted source, so I actually use `term.noFormat.red(...)` which precludes using markup.

[2019-04-13 08:23] cronvel commented on #87
@tyrak `term.color()` exists, but it requires an integer (0..15).
I can make a little patch for that if you want.

[2019-04-13 08:36] cronvel commented on #87
@tyrak Ok it's done, as of Terminal Kit v1.28.0 `.color()` and `.bgColor()` now accepts color names.

[2019-04-13 08:36] #87 closed

[2019-04-13 08:37] #79 closed

[2019-04-23 20:42] WeslleyNasRocha opened #88 "Create a persistent menu"
Im trying to create a persistent menu that the user can choose the options and come back to it

how can i made it with this library?

[2019-04-24 09:44] cronvel commented on #88
@WeslleyNasRocha Can you describe that menu a bit more?

[2019-04-24 12:32] WeslleyNasRocha commented on #88
It's like a 'main menu'.
When i select an option it executes a function but at the end, it comes back to the 'main menu'

Ex.
prints main menu
[code]
Select option 2 - `Knock Knock` and execute an function

[code]
And then come back to the main menu

[code]

[2019-04-24 13:04] cronvel commented on #88
@WeslleyNasRocha Ok, sorry my question was unclear. I wanted to know about the item disposition. You want a vertical menu, right? If so: use the [single column menu](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.singleColumnMenu). Turn the `continueOnSubmit` option on.

[2019-04-24 15:32] WeslleyNasRocha commented on #88
i got it with the sample `async menu` wrapped in an `while(true)`
[code]

Thanks.

Great library by the way ;)

[2019-04-24 15:32] #88 closed

[2019-05-30 12:03] ahutchinson1 opened #90 "singleLineMenu highlight event returns highlightIndex for current page"
For singleLineMenu, the submit "event" returns a 'selectedIndex' value based on the entire item list (rather than the current page), and I think this is correct behavior. But the highlight event returns a 'highlightedIndex' value for the current page, making it difficult (or impossible?) to know the highlighted item if you are not on the first page of the item list.

[2019-05-30 12:08] ahutchinson1 opened #91 "Add paging for singleColumnMenu or gridMenu?"
The paging ability for singleLineMenu makes it particularly useful. So useful that I use it exclusively, even when singleColumnMenu or gridMenu would make much better use of space. Is it possible to add paging to either of the other menus?

[2019-06-13 09:02] cronvel commented on #90
@ahutchinson1 There is no sign in the doc or in the code comment that it would be the wanted behavior, so this is definitively a bug. You are right, it makes no sense.
It's fixed as of v1.28.1.
Thanks for reporting it and for your patience! ;)

[2019-06-13 09:02] #90 closed

[2019-06-13 09:05] cronvel commented on #91
@ahutchinson1 Yes that's an useful feature, it's on my TODO already, but lack the time to do it now.

[2019-06-13 09:09] cronvel commented on #64
It looks like it's the same than #91 so I'm closing this one.

[2019-06-13 09:09] #64 closed

[2019-06-13 21:38] mekane opened #92 "Multiple choice input"
I love the library, it's really handy and full-featured. The app I'm currently writing would really benefit from the ability to select multiple items. I'm imagining checkbox-like behavior. Basically a single-column menu with a "selected" state. I suppose it would need some way to indicate that the user is done selecting.

e.g.:

Choose an option:
[  ] Option 1
[x] Option 2
[  ] Option 3
[x] Option

[2019-06-14 08:29] cronvel commented on #92
@mekane I think it could be an improvement of the [.singleColumnMenu()](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.singleColumnMenu).

[2019-06-14 13:04] ahutchinson1 commented on #90
@cronvel Yes, works perfectly now! Thank you :)

[2019-07-22 07:46] cronvel commented on #79
@FireCubez It's fixed now.

[2019-07-26 09:26] cronvel commented on #78
@Luigimaster1 @Floofies So, there is still no escape sequences support at the moment, but there is a new support for _markup_ since v1.28.33.
In case you miss the markup feature, it allows things like this:

[code]

Now `TextBuffer#setContent()` supports those markup, [see the .setContent() doc](/cronvel/terminal-kit/blob/master/doc/textbuffer.md#ref.TextBuffer.setText), and also [the markup doc](

[2019-07-26 09:26] #78 closed

[2019-08-03 09:53] roman-petrov opened #95 "Unable to use terminal kit starting from 1.29.1"
When trying to upgrade terminal kit to 1.29.2 I am immediately getting an unhanded exception when creating `terminal-kit` instance in my program. Here is a screenshot:

![image](https://user-images.githubusercontent.com/18419515/62410310-a7954e00-b5ec-11e9-9ac8-6fb09e176bc7.png)

I tried to investigate the problem and found that `defaultColorRegister` variable contains some values where some RGB c

[2019-08-03 09:56] laurent22 commented on #95
We have the same error in Joplin: https://github.com/laurent22/joplin/issues/1778

[2019-08-03 14:53] cronvel commented on #95
@roman-petrov @laurent22 I will investigate it right now.
BTW, did you get that on v1.29.2 which is the latest version?

[2019-08-03 15:14] cronvel commented on #95
@roman-petrov @laurent22 Ok, it should be fixed now as of v1.29.3. Thanks for reporting it.
I have done a lot of work on Terminal-Kit recently, and I overlooked this one. I should investigate on the *why it didn't manifest on my side*.

[2019-08-03 16:01] roman-petrov commented on #95
@cronvel, thank you very much for such a quick help! everything is working as expected now, I am closing this issue.

[2019-08-03 16:01] #95 closed

[2019-08-07 07:11] ZerglingGo opened #96 "Feature: Autocomplete case insensitive"
Currently seems `inputField()` `autoComplete` option wasn't support case insensitive searching.
I need to add option `autoCompleteIgnoreCase`

Example)
Input text: terminal
terminal_lowercase Terminal_Uppercase

Thanks for developing nice project!

[2019-09-01 03:58] ELLIOTTCABLE opened #97 "Using a tokenRegExp of /./ causes an infinite loop"
For instance, with the following:

[code]

I get an input field, but as soon as a single character is entered, that character is printed forever, over and over, in an infinite loop:

<img width="897" alt="Screen Shot 2019-08-31 at 22 55 22" src="https://user-images.githubusercontent.com/200/64071563-7a1adf00-cc42-11e9-90bf-42caad900c32.png">

(For context: I'm basically trying to do the equivalent

[2019-09-01 09:59] cronvel commented on #97
@ELLIOTTCABLE Your regexp must have the 'g' flag, also I should update the doc to say so, or throw an error if it's not the case.

[2019-09-01 10:04] #97 closed

[2019-09-01 10:09] cronvel commented on #97
@ELLIOTTCABLE The doc is fixed, and it throws when the 'g' flag is missing as of v1.31.2. Thanks for reporting! ;)

By the way using the token hook is not the correct way to do what you want. You should use the 'key' event, and use the `input.getInput()` to retrieve the actual value, where `input = term.inputField()`.

[2019-09-01 10:15] ELLIOTTCABLE commented on #97
<3

Ahhah! I didn't see the return-value of `getInput()` there; that's a much better idea. That said, I ended up ‘upgrading’ to a full `TextBuffer` instead; and it's working pretty well so far for my use-case.

Great library; keep up the good work! (And maybe consider upstreaming the types from #62 so you can keep them in sync; they're pretty badly out-of-sync by now! 😫)

[2019-09-02 18:03] ASnow commented on #92
I can't find documentation for `SelectListMulti` but think it can help.
I wrote own select for my purpose. It wasn't difficult.

[2019-09-03 07:32] cronvel commented on #92
@ASnow Yes that feature is not documented yet, it's part of the *"document model"* I'm still developing in my spare time.
It's probably time to document it, since it should be stable enough by now, and it's a huge plus for the lib.
But the documentation itself takes a lot of time! ^^

@mekane If you need that right now, you can browse `sample/document/` and play with `sample/document/select-list-m

[2019-09-09 04:21] mekane commented on #92
Thanks for the heads up! I'm making do without it for my project, so I'm in no rush. But I appreciate the information.

[2019-09-18 15:11] bjdash opened #98 "Is there a way to show a spinner of some sort?"
Is there a way to show a spinner of some sort?

[2019-09-19 07:52] cronvel commented on #98
Hi @bjdash ,
No, there is no stand-alone spinner at the moment, however there is a nice [progress bar](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.progressBar) that eventually display a spinner as long as the ETA is undefined.

[2019-09-25 09:57] Zaklinatel opened #99 "Is there a way to display a multiple progress bars?"
I need to display concurrent files downloading. When I using a progress bars with rxjs my terminal becomes a little mess.

There is an example I use. It should display all progress bars at same time, but progress should only go when the queue comes and no more then 3 concurrent downloads. This code work as intended and now I need some visual indication.
[code]

I would to get something like this:

[2019-09-27 10:30] cronvel commented on #99
@Zaklinatel Hi,
Expect little support for that at the moment, since it was not coded with multiple running instances in mind.

However I just added the *x* and *y* options to the `.progressBar()` [see the doc](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.progressBar) as a temporary solution: multiple progress bars will work if you define precisely where the bars must b

[2019-10-09 08:08] JonFranchi opened #100 ""Key is not Defined""
I used the first boilerplate example from the linked tutorial and it seems some core functionality is producing unexpected results right out of the box:

var term = require( 'terminal-kit' ).terminal ;
[code]

`ReferenceError: key is not defined` if I run it and hit any key.

I am using Mac OS firstly, but what am I missing here?  I haven't tried to do anything but execute the boilerplate example

[2019-10-09 08:23] cronvel commented on #100
@JonFranchi The `key` variable should be replaced by `name`.
Where did you find this sample code? (so it will eventually get fixed)

[2019-10-10 15:57] #100 closed

[2019-10-10 18:27] JonFranchi commented on #100
The examples link referenced at the top of your readme: http://blog.soulserv.net/tag/terminal/

[2019-10-18 11:33] Zaklinatel commented on #99
Yeah, I resolved the issue right this way. Its a little tricky but it works. But I was forced to write whole controller class for simple and precisely positioning of progress bars. Relatively large work, and seems to me writing a solution from scratch could be easier...

However, I waiting to release concurrent bars feature.

[2019-10-28 11:00] laurent22 opened #101 "Ctrl+H key event is detected as BACKSPACE"
A simple test is the one from the doc:

[code]

If I press Ctrl+H, it prints BACKSPACE. Is that a bug in terminal-kit or some limitation of terminals in general?

[2019-10-28 13:01] cronvel commented on #101
@laurent22 Some terminals generate `\x08` (which is Ctrl+H) as backspace, some other use `\x7f`.

In order to cover most terminals (which almost always advertise themself as 'xterm'), both characters are detected as the BACKSPACE key in Terminal Kit.

So Ctrl+H is a kind of forbidden shorthand in terminal application, like some other Ctrl+Letter, most notably:
- Ctrl+I is like TAB
- Ctrl+J is like

[2019-10-29 09:49] laurent22 commented on #101
Thanks for the explanation, it makes sense. In my app users can define shortcuts and map them to actions, so the problem is that if they use Ctrl+H the action is never triggers (because terminal-kit gives Backspace). So I think I'm just going to map internally Ctrl+H to Backspace and that should make it work.

[2019-10-29 09:49] #101 closed

[2019-10-29 12:57] cronvel commented on #101
Also the `matches` variable (see below) is an array of matching keys:
[code]
For Backspace/Ctrl+H, it will be `['BACKSPACE','CTRL_H']`.
I still won't recommand using Ctr l+ H/I/J/M, like any terminal app does (vi, emacs in terminal mode, joe, nano, and so on...), because you will never now if the user had press Ctrl+Letter or the backspace/tab/enter/return key.

[2019-11-05 20:27] GingkathFox opened #102 "Fragment left behind by `screenBuffer.clear()`"
Hello!

I'm having a small issue. I'm making a terminal game, and it has a game loop. While making sure that the game objects are drawn right, i came across this issue: https://asciinema.org/a/7Kymc79uUCuWVdJ9v4rS1oL46

The loop is as follows:

[code]

Am i doing something wrong, or is `.clear()` just skipping over that one block? I've tried using `.fill()` with the same issue.

[2019-11-05 20:30] GingkathFox commented on #102
Ok, apparently calling `term.clear()` instead of calling `buf.clear(); buf.draw()` works. Ima leave this open just incase anyone wants to discuss it.

[2019-11-05 20:47] cronvel commented on #102
@GingkathFox You should not call `term.clear()`. Also I fail to understand your issue. On your video, what part of the screen is not properly cleared? It's hard to understand how your game should work.

[2019-11-05 23:59] GingkathFox commented on #102
im just testing out `terminal-kit`. Heres a screenie of the forgotten fragment:

![Screen Shot 2019-11-05 at 6 59 10 PM](https://user-images.githubusercontent.com/33764485/68256509-5dae7080-fffe-11e9-9c80-8adde2e33070.png)

[2019-11-06 01:53] GingkathFox opened #103 "Buffer doesn't draw entire object"
Prolly a small issue. When i attempt to draw the "board" for my game, it only displays a small part of it. logging it using the console displays it perfectly. Code:

[code]

The buffer w/h is the same as the terminal w/h, which is 80x24, more than enough to draw the entire board. Video: https://asciinema.org/a/3xvcBcgD90JmTzOoPZ7dOQlsf

Am i drawing something wrong, or is this a issue with the `sc

[2019-11-06 13:23] cronvel commented on #102
@GingkathFox Ok, the blue square is the remnant of the previous sprite.
So... when you clear a ScreenBuffer instance, you make each cell **transparent**.
So when you draw the buffer on the terminal (which still has the previous *sprite* displayed), you don't overwrite the area where there is no data.

This behavior is consistent with how sprites work in any (non-ASCII) 2D lib, SDL for example. If

[2019-11-06 15:13] cronvel commented on #103
@GingkathFox `.put()` was not supposed to support control chars.
Just added a rough support for `\n` and `\r` as of v1.31.6, you need the opt-in option `newLine: true` in the `.put()`'s option object for this to work.

[2019-11-06 16:00] GingkathFox commented on #103
alrighty, testing now :D

[2019-11-06 16:01] #103 closed

[2019-11-07 11:02] #102 closed

[2019-12-16 12:49] Your-Name-Here commented on #74
This is still happening when called from a child process due to using a process manager like nodemon or [supervisor](https://www.npmjs.com/package/supervisor). @cronvel

[2019-12-16 20:31] cronvel commented on #74
@Your-Name-Here That's strange... Does it happen if you use `term = require('terminal-kit').realTerminal`? (which is capable of escaping from pipe, reaching the TTY even if stdin/stdout is not a TTY).

Also it's a bit unusual to listen for key events inside a daemon, I'm curious to know why you are doing that.

[2019-12-16 21:13] Your-Name-Here commented on #74
When I tried that it returned `{"errno":-4058,"syscall":"open","code":"ENOENT","path":"/dev/tty"}` after crashing.

I'm not sure what you mean by daemon. Maybe I'm not understanding what a process manager does behind the scenes. The process that's utilizing terminal-kit is certainly not a daemon. Am I wrong to think that `supervisor app.js [options]` would not turn app.js into a child process of t

[2020-01-06 16:04] amitgilad3 opened #107 "cant set cwd in termianl"
Hello,
iv been trying to create a terminal instance add start it in a different dir but i seems to stay in the directory i run my code from

[code]

every time i run pwd inside the terminal i still get the directory in which i run the script and not the place set in cwd.
im pretty sure im doing something, any assistance would be appreciated

[2020-01-07 10:35] cronvel commented on #107
Hi @amitgilad3,
You are misunderstanding what `term.cwd()` is for. It does **NOT** change the current working directory, instead it informs the terminal of the current working directory. The terminal application *MAY* use it for different things, like displaying the path in the status bar, for example Gnome-Terminal will use that path as the CWD for the new tab when the Ctrl-Shift-T shortcut is ty

[2020-01-07 10:35] #107 closed

[2020-01-18 13:30] Richie765 opened #108 "Prompt for .singleLineMenu()"
I'd like to show a prompt on the same line before the .singleLineMenu(), for example:

[code]

It seems that .singleLineMenu() always starts at the first column so no possibility to write anything in front of it.

[2020-01-30 18:43] GabrielGab opened #109 "grid or table drawing - help"
Hi there , since I have discovered it, this tool help me a lot on my daily basis IOT projects.
I was wondering if there is some way to get a kind of **table or grid components** , may is some future feature in mind .

I am just needing a grid of about a few columns and a least 4 rows, **I am not thinking on inserting or deleting rows after creation.**

Thanks in advance
Gabriel

[2020-02-28 15:13] TimvdEijnden commented on #109
I'm also looking for this, something like: https://www.npmjs.com/package/terminal-table

[2020-03-02 00:59] critcap opened #110 "individual markup for menu items"
Hello there, I really enjoy the deep functions of terminal kit. A feature what I would like is the ability to use individual [markup](https://github.com/cronvel/terminal-kit/blob/f26d3344e5c079f95de78902d0c49b8a3ea50e2f/doc/markup.md#top) for items in menu instead of just selected and unselected options

[2020-03-02 14:41] cronvel commented on #110
@critcap Which menu are you using?
For example, for `term.singleLineMenu()` you could replace in the item array `"my menu entry"` by `term.str( "^Rmy ^Gmenu ^Bentry" )` to have it written using red, green and blue.

[2020-03-02 15:23] critcap commented on #110
Oh snap, I just tried it with the markup in the string without the term.str() part.
Thank you!

[2020-03-02 15:23] #110 closed

[2020-03-03 14:11] cronvel commented on #109
@GabrielGab @TimvdEijnden As of v1.34.0, you can do this:
[code]
It's still experimental and undocumented, but you can already use it, the API could be considered **stable**.

Some other options: expandToWidth, shrinkToWidth, expandToHeight, shrinkToHeight, wordwrap (the 'fit' option simply activate all the 5 of them, the first 4 need a width or height options to work).

Options 'borderChars' can

[2020-03-03 14:19] cronvel commented on #84
@jacksbox Now TextBuffer supports word-wrapping through the 'wordWrapWidth' option. But it still not plainly automatic, you have to call `textBuffer.wordWrapAllLines()` whenever you update the content. It will becomes automatic later (it's on my TODO).

[2020-03-04 13:57] cronvel commented on #109
@GabrielGab @TimvdEijnden As of v1.34.1, you can set a lot of attributes to display odd/even columns/rows/cells in different style, as well as Terminal-Kit markup support, and so on...

You should check this out and try to comment/uncomment options to see it in action:
[code]

Still waiting for your feedback ;)

[2020-03-04 14:06] TimvdEijnden commented on #109
@cronvel

Currently I've chosen for a simpler output that also works for me.

I've just tried this out, and it works and looks really nice. Great job!

[2020-03-04 14:12] cronvel commented on #109
@TimvdEijnden Thanks for your feedback!
I just edited my previous post so that the last cell is featuring Terminal Kit's markup (works with `contentHasMarkup: true`).

[2020-03-11 20:58] cronvel commented on #84
@jacksbox Line-wrapping/word-wrapping is now possible and automatic.
For the record, it's not the `wordWrapWidth` option anymore but `lineWrapWidth` (integer), option `wordWrap` (boolean) control if line-wrapping is word-aware or not.

[2020-03-11 20:58] #84 closed

[2020-03-19 14:38] TimvdEijnden opened #111 "Table is not rendered completely"
When using a large number of columns the top of the table is not rendered.
I tried to use the table in a project, but am unable to because of this.
I modified the sample to show the issue, see code below.

Here's a gif of the issue:

![screencast 2020-03-19 15-35-54](https://user-images.githubusercontent.com/951290/77078924-8a848280-69f7-11ea-8584-40b16b53bb5f.gif)

[code]

Issue occurs in: Termin

[2020-03-19 14:41] cronvel commented on #111
@TimvdEijnden Erf... I know why it does that... Will fix it as soon as I have some free time...

[2020-03-19 14:47] TimvdEijnden commented on #111
If you know where I should look I might be able to help out.

[2020-03-19 15:42] cronvel commented on #111
@TimvdEijnden It should work now as of v1.35.2. Thanks for reporting.

[2020-03-19 16:27] TimvdEijnden commented on #111
True it works!

[2020-03-19 17:22] #111 closed

[2020-04-12 02:48] Tayyab12308 opened #112 "Extra output for mouse events"
My code looks like this:
[code]

After using ```grabInput({mouse: 'button'})```  each mouse button released action spits stuff into the term (e.g. ```0;55;3M0;55;3m<whatever was actually supposed to be printed>```)
I've also attached a picture of what the output looks like.

I'm running this in the regular terminal that comes with macOs

<img width="1065" alt="Screen Shot 2020-04-11 at 10 42 48 PM

[2020-04-12 08:14] cronvel commented on #112
@Tayyab12308 Can you try to run `./sample/all-event-test.js` and press some mouse buttons? And eventually make a screenshot of it?
To be honest, I need a MacOS maintainer, I don't own any Apple device, and sadly terminals are never 100% compatible, each of them needs some tweaking.
Also run `./sample/detect-terminal-test.js`, it will not detect the correct terminal since there is no MacOS terminal

[2020-04-12 08:24] cronvel commented on #112
@Tayyab12308 From what I see, your terminal send commands using the Mouse SGR protocol, which is supported by Terminal Kit, but for some reason, it doesn't detect it... Very strange. So I'm waiting for your response.
Does it work inside iTerm2?

[2020-04-12 15:49] Tayyab12308 commented on #112
I went to the project directory and tried to run
```./sample/all-event-test.js```
and it printed out
```zsh: no such file or directory: ./sample/all-event-test.js```
and when I ran
```./sample/detect-terminal-test.js```
 it said
```zsh: no such file or directory: ./sample/detect-terminal-test.js```

[2020-04-12 16:03] cronvel commented on #112
@Tayyab12308 Both files exist, check your install ;)

[2020-04-12 16:08] Tayyab12308 commented on #112
Ahh yes lol I just had to hop in my node_modules directory

heres the output for ```./sample/all-event-test.js```
<img width="1008" alt="Screen Shot 2020-04-12 at 12 06 01 PM" src="https://user-images.githubusercontent.com/41034857/79073741-27b09f00-7cb6-11ea-9216-5e9482690fe1.png">

and heres ```./sample/detect-terminal-test.js```
<img width="1012" alt="Screen Shot 2020-04-12 at 12 06 39 PM" src=

[2020-04-12 16:22] cronvel commented on #112
@Tayyab12308 The first screenshot show that mouse is correctly detected, and do not output anything on the terminal. (The second screenshot exposes a bug, but it's not relevant in your case)

Are you sure there isn't another part of your code that is reading STDIN, and then writing it back to STDOUT?  Once you activate mouse handling, the terminal send escape sequences to STDIN containing mouse ev

[2020-04-12 19:06] Tayyab12308 commented on #112
Hmm maybe because I was running my app with the command ```node -i -e "$(< script.js)"``` when I ran it with ``` node script.js``` it worked fine

[2020-04-12 19:11] cronvel commented on #112
@Tayyab12308 Yes, that's it. Like I said, the events are sent by your terminal through STDIN. ;)

[2020-04-12 19:11] #112 closed

[2020-04-23 11:42] ppacory opened #113 "terminal-kit with xterm.js"
Is there a way to use terminal-kit with xterm.js in a browser, how to do it ?

[2020-05-05 20:38] trusktr opened #114 "Terminal multiplexing?"
The README doesn't mention this, and there was no animated gif to click on regarding that.

Is it possible with terminal kit?

[2020-05-06 06:47] cronvel commented on #114
@trusktr This is not possible at the moment. There are work in progress for VTE backed by a ScreenBuffer. But it has a low priority on my TODO list, so don't expect it anytime soon.

Are you trying to implement a *tmux* clone?

[2020-05-06 06:56] cronvel commented on #113
Assuming *xterm.js* is a web-based terminal, compatible with *Xterm*, you can use Terminal Kit just the way you would with any other terminal. *Xterm* is the default/fallback config in Terminal Kit.
It all depends on the *Xterm.js* compatibility with the real *Xterm*.

[2020-05-07 21:34] ppacory commented on #113
here is a start of code : bundle with browserify to use require

package.json
[code]
index.html

[code]

index.js
[code]

The result is
error : TypeError: term.stdout.on is not a function (Terminal.js)
[code]

[2020-05-08 08:23] cronvel commented on #113
@ppacory BTW stdout is supposed to be a Node.js stream interface. Terminal Kit works with streams.

[2020-05-21 01:33] TehcJS commented on #74
This is also happening to me. No idea why, but it does. It does this as soon as I use one the "term.inputField" method.

[2020-05-21 08:13] cronvel commented on #74
@TehcJS Which OS/Terminal?

[2020-06-08 14:10] Dam998 opened #115 "Question about table"
Hi,
I have a question: is there a way to draw a table navigable like a grid menu?

congratulations for the great job
thank you

[2020-06-08 20:15] cronvel commented on #115
Hi,
[The doc](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.gridMenu) will help you ;)

[2020-06-08 22:20] Dam998 commented on #115
Okay thank you, but I want to know if it’s possible to draw this table navigable like gridmenu

Thank you for you support

`const termkit = require( 'terminal-kit' ) ;
const term = termkit.terminal ;
term.table( [
        [ 'header #1' , 'header #2' , 'header #3' ] ,
        [ 'row #1' , 'a much bigger cell '.repeat( 10 ) , 'cell' ] ,
        [ 'row #2' , 'cell' , 'a medium cell' ] ,
        [ 'ro

[2020-06-09 08:07] cronvel commented on #115
@Dam998 Sorry, `.table()` and `.gridMenu()` are different beast entirely.

In fact `.gridMenu()` doesn't have the complex formatting options, it was only meant to be a grid version of `.singleLineMenu()` and `.singleColumnMenu()`. Also I admit it would make sense to have it built on top of `.table()` (`.table()` has been added to the lib few years later).

Which features do you need exactly?

[2020-06-09 08:13] Dam998 commented on #115
I'm trying to draw a .gridmenu() with border and headers like a .table() to make it more readeable

And if it's possible have some columns navigable and others not navigable with only a description

[2020-06-10 08:25] cronvel commented on #115
@Dam998 Ok I understand. I will look into it next time I work on Terminal-Kit.

[2020-06-10 08:33] cronvel commented on #115
(Note to self: built it on top of TextTable, need a multi-line button class built on top of TextBox)

[2020-06-10 08:41] Dam998 commented on #115
Thank you so much

[2020-06-11 16:55] alexpado opened #116 "inputField() returns immediatly when used through SSH with Powershell"
Hi,

When logging in through SSH with powershell and executing my script, inputField() ends immediately.

Code used:
[code]

### Tested

| Use Case                         | Issue ? |
|----------------------------------|---------|
| Git Bash For Windows             | No      |
| SSH through Git Bash For Windows | No      |
| Powershell                       | No      |
| SSH through Powershell

[2020-06-11 17:07] mkey commented on #74
Hello @cronvel,

I'm seeing this issue as well. My code:
[code]
Output:
[code]
My system windows 7 64bit. I tried using default cmd, Powershell and cmder, all with same results.

[2020-06-13 09:08] cronvel commented on #116
Can you exec the file `./sample/detect-terminal-test.js` for your 4 use cases?
`.inputField()` always ask the terminal for the cursor location, the sequence you obtained is the terminal response, but for some reason it is not detected as a cursor location response.

[2020-06-13 09:11] cronvel commented on #74
@mkey As usual, windows has many issues with terminals. I'm afraid but as long as they don't support cursor location request, there is nothing I can do on my end. It's a windows issue, not a terminal kit one.

[2020-06-13 13:13] Dam998 commented on #99
Hi,
I used an easy workaround, printing a new line after start the progress bar, this works for me because the next line is always really the next one
this is my code:
[code]

In my Bar class I've the example code that you can find in the readme file

[2020-06-13 13:15] Dam998 commented on #99
This is the result
![image](https://user-images.githubusercontent.com/23696659/84569659-aa260f80-ad88-11ea-839e-40fe60733a5c.png)

[2020-06-14 14:37] cronvel commented on #99
@Dam998 Yes this is a good work-around. BTW 3000ms is a bit overkill, it should just be "enough" for the terminal to send back the cursor location. Not tested, but something like 20ms should be fine in most case, except when there are some network latency involved somehow.

[2020-06-14 19:11] mkey commented on #74
@cronvel thanks for the information. I'm assuming this situation can't be remedied by an alternative command interpreter under windows?

[2020-06-15 12:41] alexpado commented on #116
Sorry for the wait, all the files are attached to this message.

[powershell.txt](https://github.com/cronvel/terminal-kit/files/4780240/powershell.txt)
[powershell-ssh.txt](https://github.com/cronvel/terminal-kit/files/4780241/powershell-ssh.txt)
[git-bash.txt](https://github.com/cronvel/terminal-kit/files/4780242/git-bash.txt)
[git-bash-ssh.txt](https://github.com/cronvel/terminal-kit/files/47802

[2020-06-15 15:52] cronvel commented on #74
@mkey I heard some positive feedbacks with **git-bash** and similar projects. I didn't run any Windows for years, so I can't really check by myself.

[2020-06-15 15:54] cronvel commented on #116
@alexpado Thanks for the reports, I will look into it as soon as possible.

[2020-06-15 16:51] mkey commented on #74
@cronvel good move, not running windows. I'm still on 7 and this is the end of the line for me, as far as MS is concerned.
Regarding the issue at hand, I tried installing the latest git-bash and it's showing the same error, basically. I had an older version installed prior to upgrading it just now and that one seemed to give a bit more details on the error (said "terminal is not capable") but with

[2020-06-17 11:07] halsn opened #117 "Display issue when delete CJK fonts in inputField"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/13534265/84890791-70793f80-b0cd-11ea-91c0-a8a526a5413c.gif)

OS: Windows 10
Terminal: wsl-terminal

When I input Chinese and delete them, the inputField still display some of the content, but the value of inputField is empty already.

I think that's because the Chinese font is full-width font, but I don't how to fix it 😐

[2020-06-17 12:26] cronvel commented on #117
@halsn Terminal-kit is supposed to have partial full-width support, at least in most case.
However since I'm not chinese I can't say it's extensively tested. On my Linux box, `.inputField()` seems to support full-width char: I can copy-paste chinese chars, then delete them, it does not break anything, so I'm a bit confused...

Can you give me more detail?

* When you hit backspace, does it delete

[2020-06-17 12:37] cronvel commented on #74
@mkey @TehcJS @FranklinWaller @afturner @Your-Name-Here and other:
Since this issue has been a pain in the a** for many years, and since I cannot make it work if the host terminal don't support cursor location request, I'm asking you if you think it would be a *decent* fallback if the `.inputField()` (and other widgets) put itself on the last line.

I need to be sure where the widget is on the ter

[2020-06-17 18:49] mkey commented on #74
@cronvel I think that would be perfectly acceptable. Any functionality is preferable over none any day of the week. Could it be configured on which line one would like to have it placed?

[2020-06-18 02:44] halsn commented on #117
@cronvel Thanks for your explanation.

1. When I hit backspace, it exactly deletes one full-width char of the content in inputField. But the appearance is like that it just delete half of the char.
2. Please check '中文'. In Chinese, the word '中文' has two chars, but as Chinese is full-width char, so '中文' is equal to four English chars.
3. I use wsl-terminal, terminal for windows 10 WSL, to run the t

[2020-06-18 08:58] cronvel commented on #117
Hi @halsn, I'm starting to understand the issue...

When Terminal Kit want to delete a char backward, it sends the *left* escape sequence, followed by the *delete* escape sequence, it is usually the string `\x1b[1D\x1b[1P`.

It seems that moving left when the previous character is full-width doesn't align with the char's first cell as expected.

Just published the v1.35.4 which should fix the issu

[2020-06-18 09:46] cronvel commented on #74
@mkey It has always been possible to specify the x,y coordinate of an inputField, however I just discovered that this feature was not documented, it's fixed now ([doc](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.inputField)).

Also now, .inputField(), .progressBar() and all .*Menu() widget fallback to the last line position when requesting cursor location is not possi

[2020-06-18 15:01] #113 closed

[2020-06-18 15:04] #16 closed

[2020-06-19 02:50] halsn commented on #117
@cronvel Thanks for your work 🙌

I have tested on my side, but it still has some issues.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/13534265/85090705-5ac46100-b218-11ea-9bc1-13893bb6f20f.gif)

For this gif, I input '中文字符‘(4 chars in Chinese) on inputField, and delete them from the end. Everything is ok.

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.

[2020-06-19 09:20] cronvel commented on #117
@halsn Ok, it should be fixed. It looks like terminals do not care at all about the size of a char: *deleting one char* is in fact *deleting only one cell* whatever the content, a thing I didn't know until today.
Again, thanks for reporting, and I hope that v1.35.7 finally fix that issue.
For *neovim* try again and tell me, but I'm not sure this is a Terminal Kit issue.

[2020-06-19 10:59] halsn commented on #117
@cronvel I have tested on CMD, PowerShell, windows terminal, wsl-terminal, neovim build-in terminal on windows 10, and everything is ok 🙌

We can close this issue right now, really thanks for your work 👍

[2020-06-19 11:01] #117 closed

[2020-06-19 15:46] reberthkss commented on #73
i've same problem. Also added the snippet-code menciod by @envis10n . I'm getting the follow message :

[2020-06-21 01:52] ThatTonybo opened #118 "Scrolling text"
I'm building a small chat interface and I'm looking to "scroll" the messages up when a message hits the last line of the console **minus 3**, so further messages won't overwrite it and will scroll up nicely. Is there any way to do this easily?
I'm already using raw mode if that's any difference.

[2020-06-21 10:01] cronvel commented on #118
@ThatTonybo There multiple way of doing this.

The simplest/low-level/documented way is to use [.scrollingRegion()](https://github.com/cronvel/terminal-kit/blob/master/doc/low-level.md#moving-the-cursor).

Or you can use the [Document Model](https://github.com/cronvel/terminal-kit/blob/master/doc/document-model.md) but it's not documented ATM. You can find your way by running various demo script y

[2020-06-21 12:46] alexpado commented on #116
The issue is partially resolved. The escape sequence is still captured, but the method don't end directly, I can type what I want:

[code]

Every other use cases don't capture the escape sequence. But a script shouldn't show everything like this anyway :)

Output of `./sample/detect-terminal-test-.js` :
[code]

[2020-06-21 22:29] ThatTonybo commented on #118
Thanks for the input. With platform compatibility in mind, which of these would be the best choice to use?

[2020-06-22 07:21] cronvel commented on #118
@ThatTonybo Windows terminals are terrible anyway, so I can't say for sure it will work on it. Both methods are usually fine on all Linux terminal and OSX iTerm2.
I would say "choose the method you prefer".
If you want a full-blown terminal app, go for the document model if you are not afraid of undocumented API ^^ Despite the warning, the API is 99% stable.

[2020-06-22 07:29] cronvel commented on #116
@alexpado I'm sorry, but it looks like I can't do anything for that use-case. The fact it looks partially resolved comes from another fix I made for another issue, a fallback specifically made for terminal that don't support cursor location request.
Here, something is messing with the input somewhere in between, splitting escape sequences. And the fact that `htop` has issues too is not a good news

[2020-06-22 07:39] alexpado commented on #116
I think I shouldn't be too surprised as it's a Microsoft product...

Anyway, thanks for your time, I'll use Git Bash the time being :)

[2020-06-22 07:39] #116 closed

[2020-06-23 22:21] ThatTonybo commented on #118
Thanks for the tips. Might go with the doc model API as it looks appealing.
Any idea when the docs would be done?

[2020-06-24 08:22] cronvel commented on #118
@ThatTonybo It takes time to write the doc, and sadly, Terminal Kit does not pay my bills, so it depends solely on my free time.
But if peoples start using it, I guess the urge to write it down will make it happen... ^^

[2020-06-24 13:08] cronvel commented on #118
@ThatTonybo I have improved the documentation on [TextBox](https://github.com/cronvel/terminal-kit/blob/master/doc/document-model.md#ref.TextBox) and other things.

[2020-07-04 15:49] Grevinnan opened #119 "Layout with formatted textbox"
Hello, first up I really like where you are going with this lib. I'm building a CLI for interacting with BitBucket through their REST API. I've started using terminal-kit (with the Document API) for building a UI, and I've run into a few issues:

1. Currently I'm using a layout with a single row with a ColumnMenu on the left (a list of files) and on the right is where I want the content of the cur

[2020-07-05 13:21] cronvel commented on #119
@Grevinnan Hi, I confirm that TextBox is the way to go. Also there is no advanced mechanism at the moment for a Layout to force its children to adapt. It could be a great improvement, but I will have to look into it. Layout is *very* experimental at the moment.

As for using the output of a program full of ansi code, it's a missing feature. I didn't forecasted such a use, and I realize that it cou

[2020-07-05 14:52] cronvel commented on #119
@Grevinnan Hi again,
You can run/have a look at this sample code: `./sample/document/text-box-test.js`.
I just added support for ANSI source-text, it should fix your (2). Use the option `contentHasMarkup: 'ansi'`.
Tell me if it solve that part.

[2020-07-05 16:34] Grevinnan commented on #119
Thanks for the quick reply!

I tested your fix, it works when you initialize it but when you use setContent() later it does not, so halfway there perhaps.
Today I actually found a workaround with cli-highlight, wrapping some small functions that surrounded the highlighted parts with tkits markup-syntax instead of generating color escape codes, allowing me to use tkit "as intended". I'm not sure wh

[2020-07-05 18:00] cronvel commented on #119
@Grevinnan Have you used `textBox.setContent( text, 'ansi' )` ? The second argument `ansi` should inform `.setContent()` that it contains ANSI code. Sorry, it's not documented yet (new in v1.35.10) and I forgot to tell you.

Also I insist that TextBox is the way to go. ;)
I can have a look tomorrow to see if the fix is easy, updating size automatically from Layout.
If things go well, it could be a

[2020-07-05 19:57] Grevinnan commented on #119
Ah yes, when I entered 'ansi' there also it worked fine.

Sorry, a bit of a misunderstanding, I meant that there was no linewrapping in the Text-element, that was why I had to implement it.
I will give the TextBox  a go, will probably be better long term :). What is the distinction between the Text and TextBox element with regard to their purpose anyway? Is the Text-element more "low-level", i.e.

[2020-07-06 07:59] cronvel commented on #119
@Grevinnan Ok, some new features as of v1.35.11:

* All elements can specify a new option *autoWidth* and *autoHeight* to adjust width/height to the parent Container size
* TextBox inside a Layout/Container auto-adjust itself on Container resizing, when created with *autoWidth* or *autoHeight*
* `./sample/auto-resized-text-box-in-layout-test.js` demonstrate it and should be what you need

I hope i

[2020-07-06 08:02] cronvel commented on #119
Also, if it's a concern for you, even if not documented yet, Layout will be backward compatible anyway.

[2020-07-07 20:19] Grevinnan commented on #119
I tried it, it seems to work fine! I tried resizing and things like that, seems to work like a charm. Thanks for the quick fixes.

[2020-07-07 20:19] #119 closed

[2020-07-07 20:27] Grevinnan opened #120 "ColumnMenu quirks"
There are some quirks with the ColumnMenu that I found when having more items than fit in the screen.

1. If you don't specify pageMaxHeight then you don't get any "pages" at all, you can scroll through all elements but they only appear at the bottom of the menu.

2. I tried setting pageMaxHeight to some low number, then it worked quite nicely until the last page, it did not seem to clear the next

[2020-07-08 08:37] cronvel commented on #120
@Grevinnan Your 2) looks like a regression. For the Layout, like I said in the other issue, Layout are still experimental (yet backward compatible), and I specifically coded auto-resizing for TextBox inside Layout for issue #119 ... Now I have to do it for each relevant widgets.

[2020-07-08 09:35] cronvel commented on #120
@Grevinnan The bad redraw bug (your 2.) has been fixed as of v1.35.13.

I will look into the Layout thing later in the week, need some thinking about the API/behavior.

For your 1), by default, the column menu height is implicitly defined by its content (it can overflow, so if there is no Container to clip the overflow, there is no limit at all). Forcing a max height is done using `pageMaxHeight`.

[2020-07-09 17:22] cronvel commented on #120
@Grevinnan Can you test v1.36.0 and `./auto-resized-widgets-in-layout-test.js`, and tell me if it's what you expected?

`pageMaxHeight` is deprecated in favor of `maxHeight`, Layout should resize the ColumnMenu, and I hope all quirks are gone.

Thanks ;)

[2020-07-09 19:20] Grevinnan commented on #120
Yeah, It seems to be working fine! :smile: When I set autoWidth and autoHeight to true it behaved as I expected it to. When I did not set anything (width/height/autoX) I did not get any pages at all, only the elements that fit the first page, perhaps that is the intended behavior? I haven't thought about how the ColumnMenu should work in general.

[2020-07-09 20:24] cronvel commented on #120
Yes, *maxHeight* default to *Infinity*, i.e. no paging. So if there is too much items, it simply overflows. That's the intended behavior.

[2020-07-11 19:06] #120 closed

[2020-07-15 11:41] cronvel commented on #118
@ThatTonybo Documentation on [InlineInput](https://github.com/cronvel/terminal-kit/blob/master/doc/InlineInput.md) added.
Hope this help.

[2020-07-15 11:41] #118 closed

[2020-07-19 13:08] cronvel commented on #109
@TimvdEijnden  For the record, the full doc is now available [here](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.table) and [here](https://github.com/cronvel/terminal-kit/blob/master/doc/TextTable.md#top).

[2020-07-19 13:08] #109 closed

[2020-07-19 13:10] cronvel commented on #98
@bjdash As of v1.37.0, spinner are supported, see the doc [here](https://github.com/cronvel/terminal-kit/blob/master/doc/high-level.md#ref.spinner).

[2020-07-19 13:10] #98 closed

[2020-07-20 13:07] bjdash commented on #98
Awesome.

[2020-08-13 17:21] zaygozi opened #122 "Input after the slow typing effect adds unwanted characters"
The slow typing effect works really well in the terminal. But when I attempt to take a repl input in the callback function after the effect completes, the terminal starts printing gibberish.

[Here's the question I posted on stackoverflow with a gif and code sample](https://stackoverflow.com/questions/63399300/produce-animated-typing-effect-in-the-terminal)

And once again, thanks for making such

[2020-08-13 18:24] zaygozi commented on #122
The problem has been solved on stackoverflow. It occured because of initializing multiple repl servers.

[2020-08-13 18:24] #122 closed

[2020-08-24 21:47] axed opened #123 "How to update content?"
Hello everyone,
i have a bit of trouble finding out how to update an `Element`'s content, let's say a `TextTable`'s `cellContents`.
Based on the _documentation_ an `Element`'s draw function should not have to be called explicitly, yet i cannot find any clue about a method that updates a `TextTable`'s `cellContents`.
In my tests i have done thus far, i've tried to update the `cellContents` via a ti

[2020-08-25 07:54] cronvel commented on #123
@axed For all elements supporting it, you should do it with [`Element#setContent(content,[hasMarkup])`](https://github.com/cronvel/terminal-kit/blob/master/doc/Element.md#ref.Element.setContent).

TextBox can do it out of the box, it is the base class of EditableTextBox.
Text was meant to have static content, it is the base class of numerous more complex widget, and thus more complex behavior must

[2020-08-25 14:04] cronvel commented on #123
@axed  As of v1.43.0, I fixed things so that Text can now use `.setContent()`, and TextTable has a new method [`.setCellContent()`](https://github.com/cronvel/terminal-kit/blob/master/doc/TextTable.md#ref.TextTable.setCellContent) that does for you what you need.

Tell me if it does the job ;)

[2020-08-31 12:49] Niek opened #124 "Support Inline Images Protocol"
It would be great if this library would support the Iterm Inline Images Protocol. See https://www.iterm2.com/documentation-images.html for details.

See for example: https://github.com/sindresorhus/ansi-escapes/blob/dcd5ef3c124079c693bef1725044d91b0bca6e7f/index.js#L112-L128

[2020-09-01 08:09] cronvel commented on #124
@Niek I already heard of the Iterm2 image capabilities, but I don't have MacOS, so I either need a dedicated MacOS maintainer for this project, or a way to test that on Linux. Last time I checked, there wasn't any iTerm2 clone on Linux with such capabilities...

I could add the feature blindly, but I usually hate that...

[2020-09-01 08:11] cronvel commented on #123
@axed Any feedback before I close the issue?

[2020-09-01 08:15] Niek commented on #124
@cronvel good point! At least wezterm (Linux/Windows/macOS) seems to have added the same support: https://wezfurlong.org/wezterm/imgcat.html

Maybe there are more terminals out there that support it, but I'm not aware of it yet.

[2020-09-05 05:31] Richienb opened #125 "Passively detect scrolling"
At the moment, when using `terminal.grabInput({mouse: "button"})` and `terminal.on("mouse", ...)`, scroll events are captured and then prevented from happening. Is there a way to allow such events to continue propagating?

[2020-09-05 11:04] cronvel commented on #125
@Richienb No there isn't, once the app tells the terminal that it intercepts mouse event, default behavior is prevented. If the terminal doesn't provide another way to scroll to its history buffer, you can't.

[2020-09-05 13:37] Richienb commented on #125
@cronvel Is there a way to detect if the terminal **can** be scrolled?

[2020-09-06 10:14] cronvel commented on #125
@Richienb No there isn't. This isn't part of what is called the TTY.

[2020-09-12 12:21] Richienb commented on #125
@cronvel Would there be a way to detect if the terminal actually scrolled on the scroll event?

[2020-09-13 06:29] apowers313 opened #126 "Alt keys not working on OSX?"
When getting `key` events on MacOS 10.13.6, keys combined with the `alt` / `option` key aren't being reported properly. For example, here are some examples of what I type and the events that are emitted:

`ALT_A` = { isCharacter: true, codepoint: 229, code: < Buffer c3 a5> }
`ALT_B` = { isCharacter: true, codepoint: 8747, code: <Buffer e2 88 ab> }
`ALT_C` = { isCharacter: true, codepoint: 231, cod

[2020-09-13 19:10] cronvel commented on #125
@Richienb No you can't, and there is no scroll event (at the terminal level).
You can detect the mouse wheel event.

[2020-09-13 19:36] cronvel commented on #126
@apowers313 In the terminal world, every terminal app like to use some unusual escape sequence (especially for keys), and, at the same time, report as an `xterm` terminal anyway.

In the [`lib/termconfig/`](https://github.com/cronvel/terminal-kit/blob/master/lib/termconfig/), you should add an `iTerm.js` file.
Look at how it works on [`xterm.js`](https://github.com/cronvel/terminal-kit/blob/master

[2020-09-14 15:37] apowers313 commented on #126
Thanks for the quick reply. Here's the output:

[iTerm2](https://iterm2.com/)
[code]

[Default Mac Terminal](https://support.apple.com/guide/terminal/welcome/mac)
[code]

[2020-09-15 06:56] apowers313 commented on #126
I've created a new termconfig for OSX, but the alt keys still aren't working. Is that because you're assuming the first byte of the scan code is going to be `0x1b` (ESC) for extended sequences?

---
`osx-256color.js`
[code]

[2020-09-30 13:48] ethans333 opened #128 "Terminal kit w/ readLineInterface doesn't allow me to type stuff in after."
When I use terminal kit's single column menu, get the response and then call a function that uses readLineInterface, it wont let me type in anything.

[code]
[code]

[2020-09-30 17:24] cronvel commented on #128
@ethans333 Why mixing *readline* and Terminal-Kit? Terminal-Kit already has inputs (e.g. `.inputField()`).

[2020-10-01 08:22] cronvel commented on #128
@ethans333 I don't know exactly how *readline* works behind the scene, but they are probably interfering with each-other. For example `.singleColumnMenu()` set the terminal to what is called *raw mode* (it even supports the mouse). I don't know if *readline* turn the terminal to *raw mode* too, then exit this mode, or even if it need to... But whatever it does, it could cause major bugs in both *r

[2020-10-09 00:08] objectiveSee opened #129 "Stop Spinner"
Is there a way to stop a spinner once it's started? Thanks

[code]

[2020-10-09 07:49] cronvel commented on #129
@objectiveSee Use `spinner.animate( false )`.

[2020-10-09 17:04] drunkhacker opened #130 "Container class key event for scroll up/down implementation seems different with wheel event"
While `Container.prototype.onWheel` calls `this.scroll` function with parameter calculated using `this.viewportHeight`,
`Container.prototype.onKey` calls scroll function with value of `this.textAreaHeight`.

And it seems that `textAreaHeight` is not defined for Container class. I think `onKey` also should call `scroll` function using `viewportWidth(Height)`

[2020-10-10 00:47] objectiveSee commented on #129
That's it! Thanks @cronvel! Really fun library!

[2020-10-10 00:47] #129 closed

[2020-10-17 21:23] cronvel commented on #130
@drunkhacker Thanks for the catch, your PR is merged ;)

[2020-10-17 21:55] #130 closed

[2020-10-22 16:42] kgrandt opened #132 "Is it possible to use truecolor in document objects?"
The best I can figure out so far is to access the underlying textBuffer and pass in an attr, like so:

`textbox.textBuffer.append('\nthis is the content', false, {color: term.bgColorRgbHex.bindArgs('#ffddaa')})`

but I don't know what key to use in the attr object ('color:' in the example above). Then again I might be barking up the wrong tree entirely. Is it even possible? Thanks!!!

[2020-11-10 22:09] matt-auckland opened #134 "Feature request: Ability to pass objects to the menu functions"
Hi there, maybe I'm just coding in an unconventional way and this is a problem specific to me but I figured I'd submit an issue.

I often run into the situation where I want to run some specific function or have access to object based on the menu selection someone makes in a menu but since we can only pass an array of strings to the menu functions, I end up having to do this:

[code]

Ideally I'd

[2020-12-10 10:36] laurent22 opened #135 "Is it possible to paginate data (like git log) with terminal-kit?"
I'm looking to create a utility a bit like "git log" that would display a lot of data, but paginated, so the user can press "space" to go to the next page. I guess it's possible to do this with terminal-kit, but I'm wondering if there's already some utility that could be used, and that would do most of this automatically?

[2020-12-11 09:42] cronvel commented on #135
Hi,

There are two ways to do it.

One is low-level, using [.scrollUp()/.scrollDown()/.scrollingRegion()](https://github.com/cronvel/terminal-kit/blob/master/doc/low-level.md#moving-the-cursor).

The other is high-level, using the [document-model](https://github.com/cronvel/terminal-kit/blob/master/doc/document-model.md), but the documentation is still in progress. You would use the [TextBox widge

[2020-12-11 10:18] laurent22 commented on #135
Thanks, I had missed the new document-model feature, that looks really good! I'll give a try to the TextBox widget and see if I can get it working.

[2020-12-18 15:50] undefined-moe opened #136 "feature request: non-terminal environment display"
I'm using progress bar and it displays really weird in non-term environment (like pm2).
hope to get a readable output.

besides, using with nohup will cause a EBADF error.

[2020-12-25 06:30] dogue opened #137 "Property 'table' does not exist on type 'Terminal'. (Typescript)"
I'm using terminal-kit with typescript and everything has been working as expected, until I tried to create a table. For some reason it's telling me that the table method doesn't exist on the terminal object. I can create a table without issue outside of TS.

This seems to be specific to typescript. Any ideas? Terminal-kit was installed via NPM. `"terminal-kit": "^1.44.0"`

Edit for clarity: So fa

[2020-12-25 06:36] dogue commented on #137
It seems as if the table method was missed when `@types/terminal-kit` was written. Will try to get a pull request in to fix that on their end.

[2020-12-25 06:36] #137 closed

[2020-12-25 11:01] cronvel commented on #137
Hi,
Sorry for that, but I do not maintain typescript. One contributor made it one day, but there is no maintainer for that. Any PR is welcome ;)

[2020-12-28 10:14] mrorigo opened #138 "Memory leak using .table() ?"
This seems to be leaking memory, it blows up pretty quickly with out of memory error.

[code]

[2020-12-28 11:03] cronvel commented on #138
Thanks for reporting, I don't know what can cause this at the moment.

[2020-12-28 12:49] cronvel commented on #138
It's very hard to detect that leak... I published v1.44.1 that mitigate it, it still leaks but probably hundred of times slower.

[2020-12-28 19:36] cronvel commented on #138
It's fixed now as of v1.44.3, thanks for reporting it ;)

[2020-12-28 19:36] #138 closed

[2021-01-04 06:29] zcaudate opened #139 "color test not working in kitty"
Hi, I was directed to file a bug from the issue here:

https://github.com/kovidgoyal/kitty/issues/3205

[2021-01-10 13:37] sed-lex opened #140 "Calling .singleColumnMenu() in the callback of .singleColumnMenu() displays nothing"
Executing terminal.singleColumnMenu() in the callback function of terminal.singleColumnMenu() is not displaying anything. A menu displays the first time, i pick an option, then the cursor goes down and no other menu is displayed.

I'm testing with this code right now, and it's supposed to open the same menu over and over again if i'm correct:

`    test: function() {
        terminal.singleColumnM

[2021-01-10 19:23] NuSkooler opened #141 "Non Unicode Encodings"
First off, thanks for this library! The "Document" system is a lot like one I created (but mine is much less organized) for my BBS project. I had planned on re-doing the work, but I think using and extending upon terminal-kit makes a lot more sense.

This brings me to my question: I'd like to use terminal-kit for BBSing, and a MUD-like RPG I'm working on. The terminals involved are often much more

[2021-01-10 21:00] Grevinnan opened #142 "Form with select, only with keyboard"
I was experimenting with the form(i.e. as in the sample/document/form-test.js sample). I tried using the select-type and it works, but I could not find any way to use only the keyboard, i.e. I can use tab to switch focus to the select-element but I cannot find any key that opens the selection-box (I tried looking a bit in the code but I could not find anything about keybindings, maybe there aren't

[2021-01-10 22:27] NuSkooler opened #143 "Emit as Menu selections are focused (but not submitted)?"
Is there an event emit I'm missing when menu (`ColumnMenu`, etc.) are selected but not submitted? I would like to update a `TextBox` as selections are navigated through and perform a different action when they are submitted.

[2021-01-11 16:49] cronvel commented on #142
@Grevinnan Thanks for reporting, there was some issue with the *focus* of widget inside `Form`, the `SelectList` didn't receive it correctly, so the keyboard event was firing on the parent. It's fixed as of v1.45.0.
You have to use the enter/return key to open it.
"Tab" is used for cycling from one input to another, enter/return cycles too for input like single-line text, but not for `SelectList`

[2021-01-11 16:49] #142 closed

[2021-01-11 17:03] cronvel commented on #143
@NuSkooler `ColumnMenu` has no *selected item concept*, unlike `SelectList` (also there is no event for that anyway ATM).

I agree it could be useful, can you describe what you are trying to achieve with more details?

[2021-01-11 17:14] NuSkooler commented on #143
@cronvel For my immediate purpose I plan on updating a descriptive `TextBox` as the user navigates through the `ColumnMenu` items. When they submit, I will lave the page.

If you have thoughts on _how_ it should be implemented I can submit a PR.

[2021-01-11 17:36] cronvel commented on #143
@NuSkooler Ok, so I've added the 'itemFocus' event on all widget inheriting from BaseMenu.
To see it in action, just run/open the file `sample/document/column-menu-test.js`.
It's published as version v1.45.1.

Tell me if it does the job.

[2021-01-11 18:07] cronvel commented on #141
@NuSkooler I'm a bit lost. What is an ANSI-BBS terminal? I understand MUD RPG (it was one of my vaporware for more of a decade), but I'm have not played much with existing ecosystem. Do you mean that you directly SSH to the server, without any proper client?

[2021-01-11 18:12] cronvel commented on #140
@sed-lex It works well on my side.
What is your OS/terminal?
Can you run `sample/detect-terminal-test.js`?

[2021-01-11 18:19] NuSkooler commented on #141
@cronvel https://github.com/NuSkooler/ansi-bbs-utils (which you may find interesting as some of the things I started working on there seem to be occurring in your lib as well) has some links.

Basically ANSI-BBS is a semi-standard of supported ESC sequences that BBSes serve. Old school ANSI.SYS and others did not have all of the modern ESC sequences we have now. For example DSR/CPR is often not su

[2021-01-11 18:21] cronvel commented on #139
Hi @zcaudate

The comment of @kovidgoyal is right, I'm not using *terminfo*. Last time I checked, there was multiple things that stopped me from doing that: *terminfo* has nowhere enough information that what I need, implementing it would need some dependencies I didn't like (maybe need some native code, and that's a big **no-go**, but I can't remember for sure), and so on...

Also on kitty side,

[2021-01-11 18:33] cronvel commented on #141
@NuSkooler Ok... To be honest, I'm open to a PR if it doesn't add some over-complicated layers, but I will not implement it by myself.
I don't know what kind of escape sequence is supported, but I should warn you that Terminal Kit needs way more features than ANSI.SYS. The basic Windows terminal don't play well with Terminal Kit because of that.

For example, Terminal Kit needs to be able to reque

[2021-01-11 18:46] NuSkooler commented on #141
@cronvel I'm happy to work on this library and submit PRs. I'm not sure if you saw my email, but terminal-kit seems to do a lot of what my library in my BBS already does (but more generically) and what I had planned on doing as a more generic re-write. It makes more sense I think to work on the same project.

I've already created a `ansi-bbs.js` terminal info (very slapped together at this point).

[2021-01-11 19:08] cronvel commented on #141
At the moment, input management is done in Terminal.js at line 1060 (function `onStdin()`).

I have planned for a long time a full rewrite of the input + ESC seq parser, but haven't found the free time to do it. It would be done using the code found in the directory `lib/vte/` (a work in progress VTE implementation, that would allow spawning a ScreenBuffer acting like a terminal).

[2021-01-11 19:10] #135 closed

[2021-01-11 19:26] cronvel commented on #132
@kgrandt Sorry for being late. At the moment, the document model only supports 256-color ScreenBuffer. But you can define a palette of 256 colors that actually use true-color definition.

When you create the document, pass a Palette instance.

[code]

Palette is not documented yet, but you can check the code of `lib/Palette.js`, pass an 'adaptivePaletteDef' and/or 'extraPaletteDef' option to the c

[2021-01-11 20:37] kgrandt commented on #132
Awesome! Thanks for the reply, it’s still useful to me.

On Mon, Jan 11, 2021 at 11:27 AM Cedric Ronvel <notifications@github.com>
wrote:

[2021-01-11 23:03] kovidgoyal commented on #139
Just FYI you cannot use COLORTERM for color support detection. It is not forwarded over ssh. And yes, kitty does set it. If you cant read terminfo, then I suggest you just unconditionally turn on color support, all modern terminal support it. Maybe blick list the few that dont based on the value TERM.

[2021-01-12 02:36] NuSkooler commented on #143
@cronvel Thanks, this is exactly what I needed.

[2021-01-12 02:50] NuSkooler commented on #141
I'm still just getting to know this library, but peeking at `onStdin`, it's probably good to go.

For output encoding I'm having a hard time understanding all the spots in the code. This hack seems to mostly work, but it seems stdout and perhaps stderr are also written to?
[code]

[2021-01-12 03:30] zcaudate commented on #139
This is the output from running the test

[code]

[2021-01-12 03:31] zcaudate commented on #139
and
[code]

[2021-01-12 04:05] NuSkooler commented on #139
Question: Is terminal-kit querying device attributes at all? Many terminals will ID themselves. It appears kitty supports `DA` responses: https://github.com/kovidgoyal/kitty/blob/ca65ad6fa387745ffdaa9fd5b361bae8a0dfb464/kitty/screen.c#L1400

[2021-01-12 08:54] sed-lex commented on #140
My OS is Windows 7.

I've tried both my script above and `sample/detect-terminal-test.js` with windows cmd, windows powershell, vs code integrated terminal and also Cmder ([https://cmder.net](https://cmder.net)).

They all gave the same result:
[code]
It stops/crashes there (have to kill terminal to get out).

[2021-01-12 09:20] cronvel commented on #139
@kovidgoyal I know that COLORTERM is not forwarded with SSH, but most of time you are running local app.
Furthermore, most terminal advertise themself as *xterm* anyway because *terminfo* are not shared between host and client, and all system have *terminfo* for xterm. E.g. if the server does not have kitty, the app (that is running server-side) could not find *terminfo* for it...

I just added a

[2021-01-12 09:35] cronvel commented on #140
@sed-lex Windows terminals are too backward. They don't support cursor location request (or any request at all). To be honest, it's just like navigating the web with IE6 in 2021, every web page would be broken.

You should use something like WSL (Windows Subsystem for Linux), but I'm pretty sure Win7 is not supported. Or you have to find a more compliant native terminal. I know there are progress

[2021-01-12 09:51] cronvel commented on #139
@NuSkooler You seem to be very knowledgeable about terminal, can you tell me if there is a reliable way to detect 256/true color support by directly asking the terminal? My only resource for ESC seq is [invisible island](https://invisible-island.net/xterm/ctlseqs/ctlseqs.html), but the doc is pretty harsh. `CSI c` seems to be the ESC seq to send, but I don't know what to do with the response.

Als

[2021-01-12 10:04] cronvel commented on #139
@NuSkooler  @kovidgoyal My gnome-terminal responds to `CSI>c` with `CSI>65;6201;1c`. But I don't know what to do with it. `525` means it support VT525, `6201` is the the as the env variable VTE_VERSION, and the final `1`? Is this for VT100?
**Kitty** responds with `CSI>1;4000;19c`, again, I don't know what `4000` is for.

[2021-01-12 11:10] kovidgoyal commented on #139
DA is useless, it denotes VT terminal compliance. VT terminals never had
true color, compliance levels are pointless. Not to mention that no
terminal emulator actually fully simulates a hardware VT terminal. Doing
so would be both pointless and actually counterproductive.

If you want to detect the terminal name use XTGETCAP (search for it on
the xterm ctl seqs page). kitty even comes with a nice

[2021-01-12 13:50] cronvel commented on #139
Now I remember what was wrong with *terminfo*, the only lib doing that on Node.js is **deprecated** and only works with the old/legacy terminfo format. I'm checking if I can fix it easily...

[2021-01-12 14:25] cronvel commented on #141
`.raw()` is only used by the ScreenBuffer.
I think it's probably better to use transform streams, to make things more transparent.
This way you just call the constructor with *fake* stdin/stdout/stderr.

[2021-01-12 16:46] NuSkooler commented on #140
@cronvel When you say "Windows Terminal" which do you mean? Microsoft has been pushing a modern Windows terminal for a couple of years or so now (https://www.microsoft.com/en-us/p/windows-terminal). This has all the modern niceties & does not require WSL etc.

I just want to make sure people are understanding the distinction. Much older Windows terminals suffer, but modern Windows terminals do not

[2021-01-12 20:21] cronvel commented on #140
@NuSkooler Yay I heard about it. But like I said, I don't own any Windows anymore, for something like 4 years (at the beginning of the win10 era), so my knowledge of this platform is outdated ^^

[2021-01-12 23:58] NuSkooler commented on #140
@cronvel I only bring this up to ensure there is a clear distinction of the old terminals and the modern world. There is no reason this library cannot function properly on all of the major platforms / terminals.

[2021-01-13 00:06] NuSkooler commented on #139
@cronvel Ironically `DA` is often not super helpful for features but many terminals identify themselves (vs `TERM` which is very often just "xterm" or something even more generic). With a concrete ID you can ignore `TERM` and map to the appropriate .js rule set / terminfo.

As far as asking a terminal directly if it supports various color modes, no I don't know of a nice way (besides what is descr

[2021-01-13 00:08] NuSkooler commented on #139
@kovidgoyal I don't see "XTGETCAP" mentioned on Xterm's sequence. In fact a Google of "XTGETCAP" yields no results. Can you link what you're referring to?

[2021-01-13 00:10] cronvel commented on #139
@NuSkooler It's XTGETTCAP with two 'T'. I tested it, but I can't make it work.

[2021-01-13 00:15] NuSkooler commented on #139
Ah OK yes, it should return a full terminfo string.
https://xtermjs.org/docs/api/vtfeatures/

[2021-01-13 01:41] NuSkooler opened #144 "Menu/Button styling and attributes"
I'm trying to figure out how to draw a menu like the image below:

![image](https://user-images.githubusercontent.com/1509339/104394878-b6cc3b00-5504-11eb-9638-584db29a5cd2.png)

I can achieve the yellow ">" character, but the `buttonXXXXAttr` values seem to apply to the padding as well, which results in the ">" also having a background. Is there something I'm missing?

Additional question: Are yo

[2021-01-13 10:55] cronvel commented on #139
Erf... Even **xterm** does not respond to XTGETTCAP (with "TN" as the name, or whatever).
I'm always surprised that even *xterm* does not support most of its own standard -_-'
Aside from **kitty**, is there any term supporting this? Too bad, it would be super useful for SSH...

[2021-01-13 13:45] #128 closed

[2021-01-14 03:37] NuSkooler commented on #139
@cronvel I have a spreadsheet of terminal support. I'll do some testing on this as well and see what I come up with. It does seem odd that Xterm would not support it.

[2021-01-14 09:10] cronvel commented on #139
@NuSkooler `DA` (tertiary) is not well supported too, tested 7 or 8 terminals, *xterm* reports a lot of "0", gnome-terminal and terminal derived from it report "~VTE", others don't respond anything.

[2021-01-14 09:26] cronvel commented on #144
@NuSkooler I have to think about it.

At first glance it seems to be over-complicated. It means more options, which needs to be documented, which make it harder for the user to understand (bigger API surface), and ultimately it produces more things to maintain and test, and increase the bug surface as well.

On the other hand, it gives a lot of freedom to the user.

[2021-01-14 10:18] cronvel commented on #144
@NuSkooler Usually the `^:` markup is used to reset attr, but in the document-model (or when using `.put()` on a ScreenBuffer) instead it reset to the *forced* widget attr. So I just added the `^;` markup (*special reset*) that ignore forced attr.
This way you can set your left padding to "^;> " if you don't want it to be affected by the widget attr.

This works on v1.45.4.

[2021-01-14 16:41] NuSkooler commented on #144
@cronvel Thanks I'll give it a try later today.

RE: The above, more food for thought I guess. What I'm looking for is a way to allow users to have full control of the output. For example, in my ENiGMA½ BBS package's menus (`VerticalMenu` is akin to `ColumnMenu`) can have a `itemFormat` and `focusItemFormat` that can supply a format string with color (via `|xx` pipe codes) and Python mini format i

[2021-01-14 16:46] NuSkooler commented on #139
@cronvel Yep, I have a list of some that do support it, but the majority do not.

Detecting terminals and features is not a easy task (and in many is impossible -- you just have to ask the user). There is certainly no single way to do it.

[2021-01-16 09:12] Grevinnan opened #145 ""pages"/screens with document model"
I have been wondering if it is possible to create "pages" with the document model, i.e. suppose I have an initial layout, and if I press a button I want to open a new "page" (screen? not sure what to call it), i.e. another document perhaps, and to be able to go back and forth between them. Similar to apps for Android/iOS I guess. I have digged a bit but haven't found an obvious way to hide a docum

[2021-01-16 13:11] cronvel commented on #145
@Grevinnan There is no facilities for that ATM. I usually have a constructor for each page, that I call on each page switch.

To you have some API suggestion?

One possibility could be to have multiple documents, and "pause/resume" them. More easier to code with the current codebase, but not really clean IMO.
Another one would be a new Container type called PageContainer.

[2021-01-16 16:57] Grevinnan commented on #145
I think I know what you mean, but could you please post an example of that method just for clarity?

Hmm, maybe the PageContainer you mentioned below, but I will ponder it a bit.

[2021-01-17 18:39] NuSkooler commented on #145
FWIW I currently have a super minimal class that contains my terminal object and a document. The class has a few methods to enter/leave or leaveTo() which takes another instance of said class. Pretty easy to "flip" between documents this way.

[2021-01-17 18:53] NuSkooler opened #146 "Document TextBox with markdown does not function as expected"
When using markdown within a  `TextBox` it is not rendered as expected.

Consider a `TextBox` with the following options:
[code]
Then call the following:
[code]
Results look something like this:
![image](https://user-images.githubusercontent.com/1509339/104852855-65cc9600-58ba-11eb-8f98-13664e189748.png)

Expected:
", " and "prefer..." text should be "dim" Green.

Another oddity that I'm not sure

[2021-01-17 19:07] cronvel commented on #146
@NuSkooler `^G` is for "brightGreen", so "Rangesr" should be displayed as it should. "prefer..." should be dimmed, so there is something wrong here. But I can't reproduce it: it works as it should on my side. My terminal also support dimmed bright colors, the second "Rangers" appears darker than the first.
Can you check that your terminal (which?) has correct handling for the "dim" attribute?

[2021-01-17 19:33] NuSkooler commented on #146
@cronvel I can reproduce this in [MagiTerm](https://blog.talismanbbs.com/magiterm/), [SyncTERM](https://syncterm.bbsdev.net/), [NetRunner](http://www.mysticbbs.com/downloads.html) and Elementary OS's [Terminal](https://github.com/elementary/terminal) with term type "xterm".

But yes, they all support bold/dim.

Here are sequences rendered by other working systems (0x1b replaced with $):
[code]

[2021-01-17 19:47] NuSkooler commented on #146
Here is what is being rendered:
[code]

[2021-01-18 09:56] cronvel commented on #146
@NuSkooler Sorry I'm a bit lost. Did you mean that it does not work with your ansi-bbs termconfig + bbs terminal app, or that it doesn't even work with xterm + xterm config?

On my end, this sample works fine with xterm, or gnome-terminal:

[code]
Tested Elementary Terminal, it seems to not support dim + bright color (bright green + dim appears green + dim). Konsole (KDE) does the same.
That's why

[2021-01-18 17:26] NuSkooler commented on #146
@cronvel I have reproduced this with term and generic set to "xterm" as well as with them set to "ansi-bbs" (which uses the previously attached terminfo) using all of the listed terminals.

I don't _want_ to use dim at all. That was an attempt to fix around bright/regular colors only (e.g. '^GBright Green ^gRegular Green').

I will create a more minimal example. Are there specifics you want me to

[2021-01-18 18:24] cronvel commented on #146
@NuSkooler Ok post me the whole sample code. But I have a lot of work this week, I don't know if I can check/fix something anytime soon.

[2021-01-19 01:27] NuSkooler commented on #146
@cronvel No worries, I know this is a one man job right now!

OK after further Inspecting what the Markup produces and your statement above, this makes more sense. It just didn't meet my expectations at all I guess coming from other systems such as `|##` pipe codes and some popular syntax used in MUDs.

Is there reasoning to have it so complex? I'd think generally people are trying to do what I'm

[2021-01-19 09:49] cronvel commented on #146
@NuSkooler I think there is some misunderstanding on both side, maybe the fact I'm not a native english speaker get in the way. So I will try to explain myself again.

All markups with letter (i.e. ^ followed by a letter, like `^g` or `^G`) are one of the 16 colors, every time the uppercase letter counterpart is for the bright version. Note that bright is not an attribute (e.g. unlike dim) in my l

[2021-01-19 14:29] NuSkooler commented on #146
@cronvel xterm supports a number of color "modes":
* The original 8 colors with "bold" variants. These are the "bright" versions of the 8 colors (https://en.wikipedia.org/wiki/ANSI_escape_code#Colors has a fairly good explanation). I don't know of any terminals that do not support this. This has been around since the 90's.
* 8-bit / 256-color (indexed and named)
* 24-bit / true color (RGB)

Here i

[2021-01-19 16:51] cronvel commented on #146
@NuSkooler That's true there are settings to make bold appears bright in most term. Didn't remembered that xterm does that by default. This is one of those bad legacy behavior IMHO. I just want bold to produce bold, and don't mess with the color. On my terminal your sequence does not change the color.

If a terminal does not support **bold** (<-- I mean bold in the *font* sense), but instead shift

[2021-01-20 05:56] NuSkooler commented on #146
@cronvel

Maybe, but reality. One could argue it's bad to break long existing behavior as well.

The table above seems reasonable -- I have updated my `ansi-bbs.js` to use the codes above with unexpected results:
`focusLeftPadding: '^;^Y> '` produces e.g. `$[4;2H$[0m$[1m$[33m$[22m$[49m> $[1m$[37m$[25m$[46mRock`
move 4,2 -> reset -> bright -> yellow -> (normal -> defaultBG -> '>') ...
![image](http

[2021-01-20 09:14] cronvel commented on #146
@NuSkooler From your ansi-bbs.js:
[code]
If the *blink* attribute produces a blink effect in your term, it means that is not the way to produce bright background colors.

[2021-01-20 14:19] NuSkooler commented on #146
@cronvel No where am I asking for `bgBrightRed` or any other bright background color. If you look at the first example terminals with bright backgrounds would still not work since "normal -> defaultBG" was inserted. These are not in the Markup.

[2021-01-20 15:00] cronvel commented on #146
@NuSkooler I'm saying you that that blink is coming from your termconfig, the `bgBrightRed` was the first line containing such reference to blink, I just copied the first occurrence.

It *really* works fine on my end.

Also everything is backed by a ScreenBuffer, that's why you got some extra ESC seq. When a particular widget is drawn, it doesn't know what happened before, so it set everything tha

[2021-01-21 03:19] NuSkooler commented on #146
@cronvel I have to say it doesn't work as *expected* for me using a standard terminal + xterm.js due to the "unannounced" addition of colors.

I think the termconfig files is exactly the abstraction you're describing, but the addition of the surprise attributes can make it quite hard for users of the library to customize the display to their liking.

I was able to get `ansi-bbs` to work how I want

[2021-01-21 10:40] cronvel commented on #146
@NuSkooler  Great PoC ;)

On your `ansi-bbs.js` termconfig, you need to turn off `deltaEscapeSequence: false` (at the end of the file). It should greatly improve the support. It tells the ScreenBuffer to fully reset color/attribute anytime a cell has different style that the previous one during a blit.

Yes, you can add an `attr` option to almost all widgets. Set it to `attr: { bgColor: 'black' }`

[2021-01-24 01:43] NuSkooler commented on #146
@cronvel Thank you that is very helpful!

[2021-01-25 04:09] NuSkooler opened #147 "TextBox garbles ANSI"
Loading a valid ANSI file into a `TextBox` (e.g. with `setContent(ansiContents, 'ansi')`) garbles the image.

Example (Expected):
![image](https://user-images.githubusercontent.com/1509339/105660372-16710180-5e88-11eb-92d1-7eb92024f782.png)

In `TextBox`:
![image](https://user-images.githubusercontent.com/1509339/105660398-238df080-5e88-11eb-9495-1355edca9ca1.png)

See attached ANSI file (renamed

[2021-01-25 08:39] cronvel commented on #147
@NuSkooler Can you post the unicode version?

[2021-01-25 16:42] NuSkooler commented on #147
[avatar_utf8.ans.txt](https://github.com/cronvel/terminal-kit/files/5868025/avatar_utf8.ans.txt)

Here you go

[2021-01-28 03:01] NuSkooler opened #148 "Creating reusable components"
Looking for a quick rundown on creating my own reusable components within a Document. That is, a component made of 2:N terminal-kit elements that also has it's own methods that I can use across multiple documents.

Example: I want to create a "Character Frame" for my game. This may have something like 2-3 `TextView`'s that methods and listeners within my component would use to update them.

Is `Co

[2021-01-30 22:41] ItsErikSquared opened #149 "Update Typings"
Is it possible to update the typings for this project?
The latest ones available were updated 10 months ago and seem to be very outdated.

[2021-01-31 06:42] ItsErikSquared opened #150 "Update A ColumnMenu's Items"
Hello,

I was attempting to update a ColumnMenu's items.
I couldn't find a function to update/add/remove the items in a ColumnMenu _though it is completely possible I just missed it (if so please forgive me)_. I know I could just keep rebuilding it over and over again, but I don't feel that's really a good answer to the problem.

I've tried a couple different ways of doing this but the one that ha

[2021-02-07 19:32] NuSkooler opened #151 "Building "nested" ColumnMenu's"
I'm attempting to build "nested" `ColumMenu`'s. What I mean by this is for example if a user selects a top level menu item "A", the menu is replaced with "B". If they choose "C" from B, they get another menu. This can all be unwound e.g. by pressing ESC.

This seems very similar to #150 - Update A ColumnMenu's Items.

Currently I'm attempting to do this via multiple menus with the same dimensions